/**
 * Note that these styles are loaded *after* common styles, so that
 * editor-specific styles using the same selectors will take precedence.
 */
.blockons-testimonials-slider:hover .blockons-slider-wrap {
	box-shadow: 0 0 0 1px rgb(0 0 0 / 16%);
}
/* -- Item Level Controls -- */
.blockons-item-btns {
	display: flex;
	align-items: stretch;
	position: absolute;
	top: 0;
	right: 0;
	opacity: 0;
	transition: opacity 0.3s ease-in-out 0s;
}
.blockons-slider-wrap .keen-slider__slide:hover .blockons-item-btns {
	opacity: 1;
}
/* .blockons-slider-wrap .keen-slider__slide .blockons-item-btns button {
	height: auto;
	padding: 5px;
}
.blockons-slider-wrap .keen-slider__slide .blockons-item-btns > div {
	height: auto;
	display: inline-flex;
} */

/* -- Item level controls popup box -- */
.blockons-editor-popup .components-popover__content {
	width: 274px;
}
.blockons-editor-popup .components-popover__content > div {
	display: flex;
	flex-wrap: wrap;
}
.blockons-editor-popup .components-popover__content .blockons-fontawesome {
	width: 32px;
	height: 32px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.blockons-editor-popup
	.components-popover__content
	.blockons-fontawesome:hover {
	box-shadow: 0 0 0 1px rgb(0 0 0 / 16%);
}
/* -- Make editor controls span full with of popup box -- */
.blockons-editor-popup .components-popover__content > div > div {
	width: 100%;
}
.blockons-add-new {
	margin: 15px 0 0;
}
