/**
 * Note that these styles are loaded *before* editor styles, so that
 * editor-specific styles using the same selectors will take precedence.
 */
/* ---- Slider ---- */
.blockons-testimonials-slider {
}
.blockons-slider-wrap {
	position: relative;
}
.blockons-slider-wrap .blockons-slider {
	border-radius: 3px;
	position: relative;
}

/* -- Slides -- */
.blockons-slider .keen-slider__slide {
	background-color: #f9f9f9;
	height: 240px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.blockons-slide-inner {
	max-width: 60%;
}
.blockons-slide-text {
}
.blockons-slide-text-txt {
}
.blockons-slide-author {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin-top: 30px;
}
.blockons-slide-author-img {
}
.blockons-slide-author-img.hasImg {
}
.blockons-slide-author-img.noimg {
	width: 28px;
	height: 28px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid #888;
	border-radius: 28px;
	color: #888;
	margin-right: 8px;
}
.blockons-slide-author-txt {
	font-size: 0.8em;
}

/* ---- Slider Arrows ---- */
.blockons-slider-wrap .slider-arrow {
	background-color: #fff;
	box-shadow: 0 1px 5px rgb(0 0 0 / 20%);
	border-radius: 3px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px;
	position: absolute;
	top: 50%;
	z-index: 11;
	font-size: 20px;
	margin-top: -20px;
	overflow: hidden;
}
.blockons-slider-wrap .arrow-left {
	left: 10px;
}
.blockons-slider-wrap .arrow-right {
	right: 10px;
}
.blockons-slider-wrap .slider-arrow.arrow--disabled {
	cursor: default;
}
.blockons-slider-wrap .slider-arrow.arrow--disabled::before {
	display: block;
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #fff;
	z-index: 9;
	opacity: 0.6;
}
/* ---- Slider Pagination ---- */
.slider-pagination {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	width: 100%;
	bottom: -18px;
}
.slider-pagination button.dot {
	width: 10px;
	height: 10px;
	border: 0;
	box-shadow: inset 0 0 0 1px #000, 0 1px 5px rgb(0 0 0 / 12%);
	border-radius: 10px;
	background-color: #fff;
	margin: 0 2px;
	cursor: pointer;
}
.slider-pagination button.dot.active {
	background-color: #000;
	box-shadow: 0 1px 5px rgb(0 0 0 / 12%);
}
