/**
 * Note that these styles are loaded *before* editor styles, so that
 * editor-specific styles using the same selectors will take precedence.
 */
.wp-block-blockons-testimonials {
	position: relative;
}
.wp-block-blockons-testimonials .swiper-autoheight .swiper-wrapper {
	height: auto !important;
}
/* ---- Slider ---- */
.wp-block-blockons-testimonials .swiper-slide {
	text-align: center;
	padding: 25px 50px 55px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	align-self: stretch;
	box-sizing: border-box;
}
.wp-block-blockons-testimonials .swiper-slide h4 {
	margin: 80px 0;
}
/* -- Navigation -- */
.wp-block-blockons-testimonials .swiper-button-prev,
.wp-block-blockons-testimonials .swiper-button-next {
	background-image: none;
}
.wp-block-blockons-testimonials
	.blockons-slider.navigation-round
	.swiper-button-prev,
.wp-block-blockons-testimonials
	.blockons-slider.navigation-round
	.swiper-button-next,
.wp-block-blockons-testimonials
	.blockons-slider.navigation-rounded
	.swiper-button-prev,
.wp-block-blockons-testimonials
	.blockons-slider.navigation-rounded
	.swiper-button-next,
.wp-block-blockons-testimonials
	.blockons-slider.navigation-square
	.swiper-button-prev,
.wp-block-blockons-testimonials
	.blockons-slider.navigation-square
	.swiper-button-next {
	box-shadow: 0 1px 4px rgb(0 0 0 / 14%), inset 0 0 0 1px rgb(0 0 0 / 18%);
	width: 46px;
	height: 46px;
	margin-top: -23px;
}
.wp-block-blockons-testimonials
	.blockons-slider.navigation-round
	.swiper-button-prev,
.wp-block-blockons-testimonials
	.blockons-slider.navigation-round
	.swiper-button-next {
	border-radius: 50px;
}
.wp-block-blockons-testimonials
	.blockons-slider.navigation-rounded
	.swiper-button-prev,
.wp-block-blockons-testimonials
	.blockons-slider.navigation-rounded
	.swiper-button-next {
	border-radius: 8px;
}

.wp-block-blockons-testimonials
	.blockons-slider.navigation-dark
	.swiper-button-prev,
.wp-block-blockons-testimonials
	.blockons-slider.navigation-dark
	.swiper-button-next {
	color: #222;
}
.wp-block-blockons-testimonials
	.blockons-slider.navigation-light
	.swiper-button-prev,
.wp-block-blockons-testimonials
	.blockons-slider.navigation-light
	.swiper-button-next {
	color: #fff;
}
.wp-block-blockons-testimonials
	.blockons-slider.navigation-dark.navigation-round
	.swiper-button-prev,
.wp-block-blockons-testimonials
	.blockons-slider.navigation-dark.navigation-round
	.swiper-button-next,
.wp-block-blockons-testimonials
	.blockons-slider.navigation-dark.navigation-rounded
	.swiper-button-prev,
.wp-block-blockons-testimonials
	.blockons-slider.navigation-dark.navigation-rounded
	.swiper-button-next,
.wp-block-blockons-testimonials
	.blockons-slider.navigation-dark.navigation-square
	.swiper-button-prev,
.wp-block-blockons-testimonials
	.blockons-slider.navigation-dark.navigation-square
	.swiper-button-next {
	background-color: #222;
	color: #fff;
}
.wp-block-blockons-testimonials
	.blockons-slider.navigation-light.navigation-round
	.swiper-button-prev,
.wp-block-blockons-testimonials
	.blockons-slider.navigation-light.navigation-round
	.swiper-button-next,
.wp-block-blockons-testimonials
	.blockons-slider.navigation-light.navigation-rounded
	.swiper-button-prev,
.wp-block-blockons-testimonials
	.blockons-slider.navigation-light.navigation-rounded
	.swiper-button-next,
.wp-block-blockons-testimonials
	.blockons-slider.navigation-light.navigation-square
	.swiper-button-prev,
.wp-block-blockons-testimonials
	.blockons-slider.navigation-light.navigation-square
	.swiper-button-next {
	background-color: #fff;
	color: #222;
}
.wp-block-blockons-testimonials
	.blockons-slider.default-icon.navigation-round
	.swiper-button-prev::after,
.wp-block-blockons-testimonials
	.blockons-slider.default-icon.navigation-round
	.swiper-button-next::after,
.wp-block-blockons-testimonials
	.blockons-slider.default-icon.navigation-rounded
	.swiper-button-prev::after,
.wp-block-blockons-testimonials
	.blockons-slider.default-icon.navigation-rounded
	.swiper-button-next::after,
.wp-block-blockons-testimonials
	.blockons-slider.default-icon.navigation-square
	.swiper-button-prev::after,
.wp-block-blockons-testimonials
	.blockons-slider.default-icon.navigation-square
	.swiper-button-next::after {
	font-size: 30px;
}
/* - Arrows - */
.wp-block-blockons-testimonials
	.blockons-slider.custom-icon
	.swiper-button-prev::after,
.wp-block-blockons-testimonials
	.blockons-slider.custom-icon
	.swiper-button-next::after {
	font-family: "Font Awesome 6 Free";
	font-weight: 900;
	font-size: 32px;
}
/* - Font Awesome Overrides - */
.wp-block-blockons-testimonials
	.blockons-slider.custom-icon.arrows-arrow-right
	.swiper-button-prev::after {
	content: "\f060";
}
.wp-block-blockons-testimonials
	.blockons-slider.custom-icon.arrows-arrow-right
	.swiper-button-next::after {
	content: "\f061";
}
.wp-block-blockons-testimonials
	.blockons-slider.custom-icon.arrows-arrow-right-long
	.swiper-button-prev::after {
	content: "\f177";
}
.wp-block-blockons-testimonials
	.blockons-slider.custom-icon.arrows-arrow-right-long
	.swiper-button-next::after {
	content: "\f178";
}
.wp-block-blockons-testimonials
	.blockons-slider.custom-icon.arrows-angle-right
	.swiper-button-prev::after {
	content: "\f104";
}
.wp-block-blockons-testimonials
	.blockons-slider.custom-icon.arrows-angle-right
	.swiper-button-next::after {
	content: "\f105";
}
.wp-block-blockons-testimonials
	.blockons-slider.custom-icon.arrows-caret-right
	.swiper-button-prev::after {
	content: "\f0d9";
}
.wp-block-blockons-testimonials
	.blockons-slider.custom-icon.arrows-caret-right
	.swiper-button-next::after {
	content: "\f0da";
}
.wp-block-blockons-testimonials
	.blockons-slider.custom-icon.arrows-angles-right
	.swiper-button-prev::after {
	content: "\f100";
}
.wp-block-blockons-testimonials
	.blockons-slider.custom-icon.arrows-angles-right
	.swiper-button-next::after {
	content: "\f101";
}
/* -- Pagination -- */
.wp-block-blockons-testimonials .blockons-slider .swiper-pagination {
	position: relative;
	bottom: auto;
	padding: 5px 0 0;
	line-height: 1.2;
}
.wp-block-blockons-testimonials
	.blockons-slider.pagination-dark
	.swiper-pagination
	.swiper-pagination-bullet.swiper-pagination-bullet-active {
	background-color: #222;
}
.wp-block-blockons-testimonials
	.blockons-slider.pagination-light
	.swiper-pagination
	.swiper-pagination-bullet.swiper-pagination-bullet-active {
	background-color: #fff;
	box-shadow: 0 0 0 1px #c6c6c6;
	color: #111;
}
.wp-block-blockons-testimonials .blockons-slider.pagination-numbers {
	counter-reset: blockons-slider-counter;
}
.wp-block-blockons-testimonials
	.blockons-slider.pagination-numbers
	.swiper-pagination-bullet {
	color: #fff;
	font-size: 11px;
	font-weight: 600;
	width: 16px;
	height: 16px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}
.wp-block-blockons-testimonials
	.blockons-slider.pagination-numbers
	.swiper-pagination-bullet::before {
	counter-increment: blockons-slider-counter;
	content: counter(blockons-slider-counter);
}

.wp-block-blockons-testimonials
	.blockons-slider.controlsOnHover
	.swiper-button-prev,
.wp-block-blockons-testimonials
	.blockons-slider.controlsOnHover
	.swiper-button-next,
.wp-block-blockons-testimonials
	.blockons-slider.controlsOnHover
	.swiper-pagination {
	opacity: 0;
	transition: opacity 0.3s ease-in-out 0s;
}
.wp-block-blockons-testimonials
	.blockons-slider.controlsOnHover:hover
	.swiper-button-prev,
.wp-block-blockons-testimonials
	.blockons-slider.controlsOnHover:hover
	.swiper-button-next,
.wp-block-blockons-testimonials
	.blockons-slider.controlsOnHover:hover
	.swiper-pagination {
	opacity: 1;
}
/* -- Testimonials Design -- */
.wp-block-blockons-testimonials .blockons-slide-text {
	position: relative;
}
.wp-block-blockons-testimonials
	.blockons-slide-text
	.blockons-fontawesome.fa-quote-left {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	opacity: 0.4;
	width: 5px;
	height: 5px;
}
.wp-block-blockons-testimonials
	.blockons-slide-text
	.blockons-fontawesome.fa-quote-left::before {
	position: absolute;
	top: -20px;
	right: 15px;
}
.wp-block-blockons-testimonials
	.blockons-slide-text
	.blockons-fontawesome.fa-quote-right {
	position: absolute;
	bottom: -15px;
	right: 0;
	z-index: 2;
	opacity: 0.4;
	width: 5px;
	height: 5px;
}
.wp-block-blockons-testimonials
	.blockons-slide-text
	.blockons-fontawesome.fa-quote-right::before {
	position: absolute;
	bottom: -10px;
	right: -5px;
}
.wp-block-blockons-testimonials .blockons-slide-text-txt {
	position: relative;
	z-index: 4;
}
.wp-block-blockons-testimonials .blockons-slide-author {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin: 42px 0 0;
}
.wp-block-blockons-testimonials .blockons-slide-author-img img {
	width: 100%;
	height: auto;
}
.wp-block-blockons-testimonials .blockons-slide-author-img {
	width: 45px;
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid #888;
	border-radius: 45px;
	color: #888;
	margin-right: 12px;
	position: relative;
}
.wp-block-blockons-testimonials .blockons-slide-author-img.hasimg {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}
.wp-block-blockons-testimonials .blockons-slide-author-txt-auth {
	font-size: 0.85em;
	font-weight: bold;
}
.wp-block-blockons-testimonials .blockons-slide-author-txt-pos {
	font-size: 0.75em;
	letter-spacing: 0.2px;
	margin-top: 3px;
}
/* -- Alignment -- */
.wp-block-blockons-testimonials.align-left .blockons-slide-text {
	text-align: left;
}
.wp-block-blockons-testimonials.align-center .blockons-slide-text {
	text-align: center;
}
.wp-block-blockons-testimonials.align-right .blockons-slide-text {
	text-align: right;
}
/* ---- Star Ratings ---- */
.wp-block-blockons-testimonials .blockons-star-ratings {
	margin: 0 0 20px;
	text-align: center;
}
.wp-block-blockons-testimonials .blockons-star {
	font-size: 16px;
	margin: 0 1px;
	color: #999;
	width: 16px;
}
.wp-block-blockons-testimonials .blockons-star.checked {
	color: #fdc704;
}
/* -- Layout One -- */
.wp-block-blockons-testimonials.layout-one .swiper-slide-inner {
	display: flex;
	flex-direction: column;
	max-width: 84%;
	min-width: 60%;
	margin-top: 20px;
}
/* -- Layout Two -- */
.wp-block-blockons-testimonials.layout-two .swiper-slide-inner {
	display: flex;
	align-items: center;
	flex-direction: row-reverse;
	padding: 25px 0;
}
.wp-block-blockons-testimonials.layout-two .blockons-slide-author {
	margin: 0 10px 0 0;
	min-width: 160px;
	flex-direction: column;
}
.wp-block-blockons-testimonials.layout-two .blockons-slide-author-img {
	margin: 0 0 8px;
}
.wp-block-blockons-testimonials.layout-two .blockons-slide-author-txt {
	text-align: center;
}
/* -- Layout Three -- */
.wp-block-blockons-testimonials.layout-three .swiper-slide-inner {
	display: flex;
	flex-direction: column-reverse;
}
.wp-block-blockons-testimonials.layout-three .blockons-slide-author {
	justify-content: center;
	margin: 0 0 20px;
	flex-direction: column;
}
.wp-block-blockons-testimonials.layout-three .blockons-slide-author-img {
	margin: 0 0 8px;
}
.wp-block-blockons-testimonials.layout-three .blockons-slide-author-txt {
	text-align: center;
}
.wp-block-blockons-testimonials.layout-three
	.blockons-slide-text
	.blockons-fontawesome.fa-quote-left::before {
	top: -10px;
	right: auto;
}

/* -- Style One -- */
.wp-block-blockons-testimonials.style-one .blockons-slide-text {
	padding-right: 0;
}
/* -- Style Two -- */
.wp-block-blockons-testimonials.style-two .swiper-slide {
	padding: 25px 15px 55px;
}
.wp-block-blockons-testimonials.style-two .blockons-slide-text {
	background-color: #f0f0f0;
	border-radius: 8px;
	padding: 25px 40px;
	position: relative;
}
.wp-block-blockons-testimonials.style-two .blockons-slide-text span.corner {
	display: block;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 15px 10px 0 10px;
	border-color: #f0f0f0;
	border-right-color: transparent !important;
	border-bottom-color: transparent !important;
	border-left-color: transparent !important;
	position: absolute;
	bottom: -15px;
	right: 65px;
}
.wp-block-blockons-testimonials.layout-two.style-two
	.blockons-slide-text
	span.corner {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 10px 15px 10px 0;
	border-color: #f0f0f0;
	border-top-color: transparent !important;
	border-bottom-color: transparent !important;
	border-left-color: transparent !important;
	bottom: 50%;
	right: 100%;
	margin-bottom: -7px;
}
.wp-block-blockons-testimonials.layout-three.style-two
	.blockons-slide-text
	span.corner {
	display: none;
}
.wp-block-blockons-testimonials.layout-three.style-two .blockons-slide-author {
	margin-bottom: 20px;
}
.wp-block-blockons-testimonials.style-two .blockons-slide-author-img {
	box-shadow: 0 1px 5px rgb(0 0 0 / 20%);
}
.wp-block-blockons-testimonials.style-two
	.blockons-slide-text
	.blockons-fontawesome.fa-quote-left::before {
	top: 5px;
	left: 10px;
}
.wp-block-blockons-testimonials.style-two
	.blockons-slide-text
	.blockons-fontawesome.fa-quote-right::before {
	bottom: 18px;
	right: 10px;
}
