/* -- PREMIUM Side Cart -- */
.blockons-side-cart-icon {
	background-color: #fff;
	box-shadow: inset 0 0 0 1px rgb(0 0 0 / 20%), 0 1px 4px rgb(0 0 0 / 20%);
	border-radius: 100%;
	color: #333;
	position: fixed;
	bottom: 10px;
	font-size: 24px;
	width: 60px;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	z-index: 999;
}
.blockons-side-cart-icon.left {
	left: 10px;
	transition: left 0.3s ease-in-out 0.05s;
}
.blockons-side-cart-icon.right {
	right: 10px;
	transition: right 0.3s ease-in-out 0.05s;
}

.blockons-side-cart-overlay {
	background-color: #000;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0.6;
	z-index: 998;
	display: none;
}
.blockons-side-cart-block {
	background-color: #fff;
	box-shadow: 0 0 8px rgb(0 0 0 / 45%);
	display: flex;
	align-items: stretch;
	position: fixed;
	top: 0;
	bottom: 0;
	width: 340px;
	z-index: 999;
}
.blockons-side-cart-block.left {
	left: -340px;
	transition: left 0.3s ease-in-out 0.05s;
}
.blockons-side-cart-block.right {
	right: -340px;
	transition: right 0.3s ease-in-out 0.05s;
}
body.admin-bar .blockons-side-cart-block {
	top: 32px;
}
body.blockons-show-sidecart .blockons-side-cart-overlay {
	display: block;
}
body.blockons-show-sidecart .blockons-side-cart-icon.right {
	right: 350px;
}
body.blockons-show-sidecart .blockons-side-cart-icon.left {
	left: 350px;
}
body.blockons-show-sidecart .blockons-side-cart-block.right {
	right: 0;
}
body.blockons-show-sidecart .blockons-side-cart-block.left {
	left: 0;
}

.blockons-side-cart-block-inner {
	flex: 1;
	display: flex;
	flex-direction: column;
}
.blockons-side-cart-header {
	background-color: rgb(0 0 0 / 10%);
	box-shadow: inset 0 -1px rgb(0 0 0 / 7%), 0 0 3px rgb(0 0 0 / 8%);
	height: 80px;
	position: relative;
	z-index: 2;
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	font-size: 13px;
}
.blockons-side-cart-header h6,
.blockons-side-cart-header p {
	margin: 0;
	padding: 0;
	font-size: inherit;
	color: inherit;
}
.blockons-side-cart-header h6 {
	font-size: 1.2em;
}
.blockons-side-cart-header p {
	opacity: 0.75;
}
.blockons-side-cart-content {
	background-color: inherit;
	flex: 1;
	display: flex;
	flex-direction: column;
	height: calc(100% - 80px);
}
.blockons-side-cart-content .blockons-mini-crt,
.blockons-side-cart-content .blockons-mini-crt .widget_shopping_cart_content {
	flex: 1;
	display: flex;
	flex-direction: column;
	height: 100%;
	margin: 0;
	padding: 0;
}

.blockons-side-cart-content
	.blockons-mini-crt
	ul.woocommerce-mini-cart.cart_list {
	height: calc(100% - 104px);
	overflow-y: scroll;
	margin: 0;
	padding: 0;
}
.blockons-side-cart-content
	.blockons-mini-crt
	ul.woocommerce-mini-cart.cart_list
	li.woocommerce-mini-cart-item {
	position: relative;
	padding: 9% 37px 9% 106px;
	min-height: 110px;
	box-shadow: 0 1px 0 rgb(0 0 0 / 7%);
	margin: 0;
	list-style-type: none;
	position: relative;
}
.blockons-side-cart-content
	.blockons-mini-crt
	ul.woocommerce-mini-cart.cart_list
	li.woocommerce-mini-cart-item
	a {
	display: block;
	text-decoration: none;
	font-size: 14px;
	color: inherit;
	font-weight: 600;
	letter-spacing: 0.3px;
	margin: 0 0 2px;
}
.blockons-side-cart-content
	.blockons-mini-crt
	ul.woocommerce-mini-cart.cart_list
	li.woocommerce-mini-cart-item
	a.remove {
	padding: 2px;
	width: 10%;
	height: 25px;
	position: absolute;
	top: 50%;
	margin: -10px 0 0;
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: center;
	left: auto;
	right: 0;
	font-family: "Font Awesome 6 Free";
	font-weight: 900;
	font-size: 0;
	color: inherit !important;
	opacity: 0.4;
}
.blockons-side-cart-content
	.blockons-mini-crt
	ul.woocommerce-mini-cart.cart_list
	li.woocommerce-mini-cart-item
	a.remove:hover {
	background: none !important;
	color: #de0404 !important;
}
.blockons-side-cart-content
	.blockons-mini-crt
	ul.woocommerce-mini-cart.cart_list
	li.woocommerce-mini-cart-item
	img {
	height: auto;
	max-height: none;
	margin: 0;
	box-shadow: 0 1px 3px rgb(0 0 0 / 18%), 0 0 0 1px rgb(0 0 0 / 12%);
	position: absolute;
	top: 10%;
	left: 9px;
	right: auto;
	width: 88px;
	max-height: 80%;
}
.blockons-side-cart-content
	.blockons-mini-crt
	ul.woocommerce-mini-cart.cart_list
	li.woocommerce-mini-cart-item
	span.quantity {
	display: block;
	font-size: 13px;
	opacity: 0.75;
}
.blockons-side-cart-content
	.blockons-mini-crt
	ul.woocommerce-mini-cart.cart_list
	li.woocommerce-mini-cart-item
	a {
	font-size: 16px;
	margin: 0 0 5px;
}
.blockons-side-cart-content
	.blockons-mini-crt
	ul.woocommerce-mini-cart.cart_list
	li.woocommerce-mini-cart-item
	a.remove::before {
	content: "\f2ed";
	font-size: 15px;
}
.blockons-side-cart-content .woocommerce-mini-cart__total {
	text-align: center;
	margin: 0;
	background-color: rgb(0 0 0 / 10%);
	box-shadow: inset 0 1px rgb(0 0 0 / 7%), 0 -2px 5px rgb(0 0 0 / 8%);
	padding: 15px 0 4px;
	font-size: 16px;
}
.blockons-side-cart-content .woocommerce-mini-cart__buttons {
	background-color: rgb(0 0 0 / 10%);
	padding: 12px 0 18px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	margin: 0;
}
.blockons-side-cart-content .woocommerce-mini-cart__buttons a.button {
	display: block;
	flex: 1;
	padding: 5px 5px 7px;
	text-decoration: none;
	font-size: 13px;
	font-weight: 400;
	text-align: center;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 3px;
	cursor: pointer;
	transition: all 0.2s linear 0s;
	box-shadow: inset 0 1px 6px rgb(0 0 0 / 8%),
		inset 0 1px 0 rgb(255 255 255 / 20%);
	margin: 0;
	max-width: 46%;
	background-color: #484848;
	color: #fff;
	opacity: 1 !important;
}
.blockons-side-cart-content .woocommerce-mini-cart__buttons a.button:hover {
	background-color: #000;
	color: #fff;
}
.blockons-side-cart-content .woocommerce-mini-cart__empty-message {
	padding: 15px 10px;
	text-align: center;
	color: inherit;
	opacity: 0.6;
}
/* .blockons-side-cart-content
	.blockons-mini-crt
	ul.woocommerce-mini-cart
	.blockUI.blockOverlay {
} */

@media only screen and (max-width: 782px) {
	body.admin-bar .blockons-side-cart-block {
		top: 46px;
	}
}
