/**
 * Settings Divider
 */
.blockons-divider {
	box-shadow: 0 4px 0 rgb(224 224 224);
	display: block;
	height: 1px;
	width: 100%;
	margin: 10px 0 30px;
}
.blockons-hide {
	display: none !important;
}
.note-link {
	margin: 0;
	padding: 5px 0 10px;
	text-align: center;
	font-size: 12px;
}
/**
 * Help / Read More Link
 */
.helplink {
	font-size: 12px;
	font-style: normal;
	color: rgb(117, 117, 117);
	margin-bottom: 2em;
}
.helplink.fixmargin {
	margin: -15px 0 25px;
}
.helplink a {
	background-color: #cae4f1;
	color: #297cba;
	padding: 3px 7px 4px;
	border-radius: 3px;
	box-shadow: 0 1px 5px rgb(0 0 0 / 15%);
	border: 1px solid rgba(0, 0, 0, 0.15);
	font-size: 12px;
	text-decoration: none;
	margin-right: 5px;
}
.helplink a:hover {
	background-color: #c0deee;
}
/**
 * Splide resizing note
 */
.blockons-size-note {
	font-size: 12px;
	font-style: normal;
	color: rgb(117, 117, 117);
	margin: 20px 0 0;
}
/**
 * UnitControl Spacing
 */
.components-unit-control-wrapper {
	margin-bottom: 25px;
}
/**
 * Settings Popups
 */
.components-popover.blockons-editor-popup .components-popover__content {
	min-width: 280px;
}
.blockons-datetime-selecter {
	width: 100%;
}
.blockons-datetime-selecter input.components-text-control__input {
	padding: 10px;
	font-size: 14px;
}
/**
 * Sweetalert2 Design - THIS IS DUPLICATED IN frontend.css
 */
.swal2-popup.blockons-popup-swal {
	box-shadow: 0 1px 20px rgb(0 0 0 / 18%);
	padding: 0;
	position: relative;
	max-width: 84%;
}
.swal2-popup.blockons-popup-swal button.swal2-close {
	font-size: 22px;
	color: #000;
	position: absolute;
	top: 4px;
	right: 4px;
}
.swal2-popup.blockons-popup-swal .swal2-html-container {
	padding: 0;
	margin: 0;
}
/* .swal2-popup.blockons-popup-swal .blockons-popup-wrap {} */
.swal2-popup.blockons-popup-swal .blockons-popup-wrap .blockons-popup-img {
	max-width: 100%;
	height: auto;
	display: block;
	margin: 0;
}
.swal2-popup.blockons-popup-swal .blockons-popup-wrap p.blockons-popup-caption {
	margin: 0;
	padding: 15px 20px;
	color: #FFF;
	font-size: 13px;
	font-weight: normal;
	letter-spacing: 0.1px;
	line-height: 1.4;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgb(0 0 0 / 42%);
}
.swal2-popup.blockons-popup-swal .swal2-actions {
	margin: 0;
	padding: 0;
	height: 0;
}
.swal2-popup.blockons-popup-swal .swal2-actions .blockons-popup-btn {
	position: absolute;
	top: 50%;
	margin: -30px 0 0;
	padding: 0;
	width: 45px;
	height: 60px;
	background: none !important;
	font-size: 36px;
}
.swal2-popup.blockons-popup-swal .swal2-actions .blockons-popup-btn.prev {
	right: 100%;
}
.swal2-popup.blockons-popup-swal .swal2-actions .blockons-popup-btn.next {
	left: 100%;
}

/* -- Image Popups -- */
body.blockons-imgpopup
	.wp-block-image.blockons-popup
	.components-resizable-box__container {
	position: relative;
}
body.blockons-imgpopup
	.wp-block-image.blockons-popup
	.components-resizable-box__container::before,
body.blockons-imgpopup
	.wp-block-gallery
	.wp-block-image.blockons-popup::before {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	z-index: 99;
	border-radius: 4px;
	width: 32px;
	height: 32px;
	font-size: 19px;
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
}
body.blockons-imgpopup
	.wp-block-image.blockons-popup
	.components-resizable-box__container:hover::before,
body.blockons-imgpopup
	.wp-block-gallery
	.wp-block-image.blockons-popup:hover::before {
	opacity: 1;
}
body.blockons-imgpopup
	.wp-block-image.blockons-popup.blcks-theme-dark
	.components-resizable-box__container::before,
body.blockons-imgpopup
	.wp-block-gallery
	.wp-block-image.blockons-popup.blcks-theme-dark::before {
	background-color: rgb(0 0 0 / 55%);
	color: #fff;
}
body.blockons-imgpopup
	.wp-block-image.blockons-popup.blcks-theme-light
	.components-resizable-box__container::before,
body.blockons-imgpopup
	.wp-block-gallery
	.wp-block-image.blockons-popup.blcks-theme-light::before {
	background-color: rgb(255 255 255 / 45%);
	box-shadow: 0 0 6px rgb(0 0 0 / 20%);
	color: #000;
}
body.blockons-imgpopup
	.wp-block-image.blockons-popup.blcks-pos-topleft
	.components-resizable-box__container::before,
body.blockons-imgpopup
	.wp-block-gallery
	.wp-block-image.blockons-popup.blcks-pos-topleft::before {
	top: 15px;
	left: 15px;
}
body.blockons-imgpopup
	.wp-block-image.blockons-popup.blcks-pos-topright
	.components-resizable-box__container::before,
body.blockons-imgpopup
	.wp-block-gallery
	.wp-block-image.blockons-popup.blcks-pos-topright::before {
	top: 15px;
	right: 15px;
}
body.blockons-imgpopup
	.wp-block-image.blockons-popup.blcks-pos-bottomleft
	.components-resizable-box__container::before,
body.blockons-imgpopup
	.wp-block-gallery
	.wp-block-image.blockons-popup.blcks-pos-bottomleft::before {
	bottom: 15px;
	left: 15px;
}
body.blockons-imgpopup
	.wp-block-image.blockons-popup.blcks-pos-bottomright
	.components-resizable-box__container::before,
body.blockons-imgpopup
	.wp-block-gallery
	.wp-block-image.blockons-popup.blcks-pos-bottomright::before {
	bottom: 15px;
	right: 15px;
}
body.blockons-imgpopup
	.wp-block-image.blockons-popup.blcks-pos-center
	.components-resizable-box__container::before,
body.blockons-imgpopup
	.wp-block-gallery
	.wp-block-image.blockons-popup.blcks-pos-center::before {
	top: 50%;
	left: 50%;
	margin: -16px 0 0 -16px;
}
/* magnifying glass */
body.blockons-imgpopup
	.wp-block-image.blockons-popup.blcks-icon-one
	.components-resizable-box__container::before,
body.blockons-imgpopup
	.wp-block-gallery
	.wp-block-image.blockons-popup.blcks-icon-one::before {
	content: "\f002";
}
/* expand */
body.blockons-imgpopup
	.wp-block-image.blockons-popup.blcks-icon-two
	.components-resizable-box__container::before,
body.blockons-imgpopup
	.wp-block-gallery
	.wp-block-image.blockons-popup.blcks-icon-two::before {
	content: "\f065";
}
/* up right and down left arrow */
body.blockons-imgpopup
	.wp-block-image.blockons-popup.blcks-icon-three
	.components-resizable-box__container::before,
body.blockons-imgpopup
	.wp-block-gallery
	.wp-block-image.blockons-popup.blcks-icon-three::before {
	content: "\f424";
}
/* maximize */
body.blockons-imgpopup
	.wp-block-image.blockons-popup.blcks-icon-four
	.components-resizable-box__container::before,
body.blockons-imgpopup
	.wp-block-gallery
	.wp-block-image.blockons-popup.blcks-icon-four::before {
	content: "\f31e";
}
/* plus */
body.blockons-imgpopup
	.wp-block-image.blockons-popup.blcks-icon-five
	.components-resizable-box__container::before,
body.blockons-imgpopup
	.wp-block-gallery
	.wp-block-image.blockons-popup.blcks-icon-five::before {
	content: "\2b";
}
/* arrows up down left right */
body.blockons-imgpopup
	.wp-block-image.blockons-popup.blcks-icon-six
	.components-resizable-box__container::before,
body.blockons-imgpopup
	.wp-block-gallery
	.wp-block-image.blockons-popup.blcks-icon-six::before {
	content: "\f047";
}

body.blockons-imgpopup.global .wp-block-image.blockons-popup .components-resizable-box__container::before {
	display: none !important;
}

/* -- Popup Color -- */
body.blockons-imgpopup.popup-light .swal2-container.blockons-popup-container.swal2-backdrop-show {
	background: rgb(255 255 255 / 35%);
}
body.blockons-imgpopup.popup-dark .swal2-container.blockons-popup-container.swal2-backdrop-show {
	background: rgb(0 0 0 / 40%);
}
/**
 * Blockons Color Picker Component
 */
.components-dropdown.blockons-colorpicker {
	width: 100%;
	margin: 0 0 15px;
}
.components-button.blockons-colorpicker-btn {
	box-shadow: 0 0 0 1px #e0e0e0;
	padding: 14px 12px;
	width: 100%;
	text-decoration: none;
	color: #545454;
}
.components-button.blockons-colorpicker-btn .component-color-indicator {
	margin: 0 10px 0 0;
}
.components-button.blockons-colorpicker-btn:hover {
	box-shadow: 0 0 0 1px #b9b9b9;
}
/**
 * SelectControl Multiple
 */
.components-select-control.blockons-multiselect
	select.components-select-control__input {
	height: auto;
	padding: 0;
}
.components-select-control.blockons-multiselect
	select.components-select-control__input
	option {
	padding: 5px 6px;
}
/**
 * Blockons Inline Tooltip Settings
 */
.blockons-tooltip-settings {
	min-width: 215px;
}
.tooltip-link-hint {
	font-size: 9px;
	white-space: nowrap;
	margin: 5px 0;
}
.blockons-tooltip-settings .blockons-tooltip-btns {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.blockons-tooltip-settings .blockons-tooltip-btns.active {
	justify-content: space-between;
}
.blockons-tooltip-settings .blockons-tooltip-button {
	font-size: 12px;
}
.blockons-tooltip-extra {
	margin: 0 0 8px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.blockons-tooltip-extra .blockons-tooltip-color-wrap {
	min-height: 36px;
	width: 50px;
}
.blockons-tooltip-extra .blockons-tooltip-color {
	box-shadow: inset 0 0 0 1px #000;
}
.blockons-tooltip-extra .blockons-tooltip-color.disabled {
	box-shadow: inset 0 0 0 1px #c3c3c3;
}
.blockons-tooltip-extra .blockons-tooltip-color.disabled .btn-disabled {
	color: #c3c3c3;
}
.blockons-tooltip-preview {
	min-height: 36px;
	width: 122px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	border-radius: 3px;
	position: relative;
}
.blockons-tooltip-preview span.blockons-icon {
	margin: 0 0 0 5px;
}
.blockons-tooltip-preview-tooltip {
	background-color: #424242;
	border-radius: 4px;
	position: absolute;
	bottom: calc(100% + 5px);
	left: -999999999999px;
	width: 134px;
	margin-left: -70px;
	padding: 6px 10px 8px;
	text-align: left;
	opacity: 0;
	transition: opacity 0.2s ease-in-out 0.15s, bottom 0.2s ease-in-out 0.15s,
		left 0.05s ease-in-out 0s;
}
.blockons-tooltip-preview-tooltip .blockons-tooltip-arrow {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin: 0 0 0 -3px;
	border-width: 6px;
	border-style: solid;
	border-color: transparent;
	border-top-color: #424242;
}
.blockons-tooltip-preview:hover .blockons-tooltip-preview-tooltip {
	left: 50%;
	opacity: 1;
	bottom: calc(100% + 4px);
}
.blockons-tooltip-preview-tooltip .preview-title {
	margin: 0 0 3px;
	padding: 0;
	font-size: 14px;
}
.blockons-tooltip-preview-tooltip .preview-text {
	font-size: 12px;
	line-height: 1.52;
	margin: 0;
	padding: 0;
	white-space: normal;
	font-weight: normal;
}
.components-dropdown__content.blockons-tooltip-color-picker
	.components-popover__content {
	width: 300px;
}
.components-dropdown__content.blockons-tooltip-settings-popover
	.blockons-divider,
.components-dropdown__content.blockons-tooltip-color-picker .blockons-divider {
	box-shadow: 0 4px 0 #d6d6d6;
	margin: 10px 0 14px;
}
.components-dropdown__content.blockons-tooltip-color-picker
	.blockons-tooltip-clrs {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.components-dropdown__content.blockons-tooltip-color-picker
	.blockons-tooltip-clrs
	.components-button.blockons-colorpicker-btn {
	font-size: 11px;
	max-width: 150px;
	min-width: 128px;
}
/* -- Styles -- */
.blockons-tooltip-settings-popover .blockons-tooltip-style.underlined {
	border-bottom: 1px solid #000;
	position: relative;
}
.blockons-tooltip-settings-popover .blockons-tooltip-style.dashed {
	border-bottom: 2px dashed #000;
}
.blockons-tooltip-settings-popover .blockons-tooltip-style.highlight {
	border: 0;
	position: relative;
}
.blockons-tooltip-settings-popover .blockons-tooltip-style.highlight > span {
	display: block;
	width: 100%;
	height: 100%;
	opacity: 0.15;
}
/* -- Themes -- */
/* - One - */
.blockons-tooltip-preview.one .blockons-tooltip-preview-tooltip {
	background-color: #424242;
}
.blockons-tooltip-preview.one
	.blockons-tooltip-preview-tooltip
	.blockons-tooltip-arrow {
	border-top-color: #424242;
}
.blockons-tooltip-preview.one .blockons-tooltip-preview-tooltip .preview-title {
	color: #fff;
}
.blockons-tooltip-preview.one .blockons-tooltip-preview-tooltip .preview-text {
	color: #cdcdcd;
}
/* - Two - */
.blockons-tooltip-preview.two .blockons-tooltip-preview-tooltip {
	background-color: #fff;
	box-shadow: 0 2px 12px rgb(0 0 0 / 20%);
	color: #222;
}
.blockons-tooltip-preview.two
	.blockons-tooltip-preview-tooltip
	.blockons-tooltip-arrow {
	border-top-color: #fff;
}
.blockons-tooltip-preview.two .blockons-tooltip-preview-tooltip .preview-title {
	color: #222;
}
.blockons-tooltip-preview.two .blockons-tooltip-preview-tooltip .preview-text {
	color: #000;
}

body.blockons-tooltips .blockons-inline-tooltip {
	border-bottom: 1px solid #000;
	position: relative;
}
body.blockons-tooltips.blstyle-dashed .blockons-inline-tooltip {
	border-bottom: 2px dashed #000;
}
body.blockons-tooltips.blstyle-highlight .blockons-inline-tooltip {
	border: 0;
	position: relative;
}
body.blockons-tooltips.blstyle-highlight .blockons-inline-tooltip::before {
	display: inline-block;
	content: "";
	width: 100%;
	height: 100%;
	opacity: 0.15;
}
.blockons-tooltip-img {
	width: 100%;
	margin: 0 0 5px;
}
.blockons-tooltip-img-prvw {
	background-color: #999;
	width: 100%;
	height: 22px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 10px;
	letter-spacing: 0.8px;
	text-transform: uppercase;
	color: #eee;
}
/* - Img - */
.blockons-tooltip-imgpreview {
	margin: 7px 0 8px;
	display: flex;
	align-items: center;
}
.blockons-tooltip-imgpreview-img {
	max-width: 100px;
	height: 60px;
	margin: 0 12px 0 0;
}
.blockons-tooltip-imgpreview-img img {
	max-height: 100%;
	max-width: 100%;
}
button.blockons-tt-upload-button {
	box-shadow: 0 0 0 1px rgb(0 0 0 / 18%);
	margin: 7px 0 8px;
}
button.blockons-tt-upload-button.remove {
	flex: 1;
	justify-content: center;
}
/**
 * Editor Note component
 */
.blockons-editor-note {
	box-shadow: 0 1px 0 0 #e0e0e0;
	margin: 0 0 20px;
	padding: 0 0 15px;
}
.blockons-editor-note.noline {
	box-shadow: none;
	margin: 0;
	padding: 0 0 5px;
}
.blockons-editor-note .bl-note-title {
	font-size: 13px;
	margin: 0 0 5px;
	padding: 0;
}
.blockons-editor-note .bl-note-txt {
	color: #757575;
}
.blockons-editor-note .bl-note-links {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.blockons-editor-note .bl-note-link {
	display: inline-block;
	background-color: #cae4f1;
	color: #297cba;
	padding: 3px 7px 4px;
	border-radius: 3px;
	box-shadow: 0 1px 5px rgb(0 0 0 / 15%);
	border: 1px solid rgba(0, 0, 0, 0.15);
	font-size: 12px;
	text-decoration: none;
	margin-top: 15px;
}
.blockons-editor-note .bl-note-link:hover {
	background-color: #b7daeb;
}
.blockons-editor-note .bl-note-link.upgrade {
	background-color: #f45b08;
	color: #fff;
}
.blockons-editor-note .bl-note-link.upgrade:hover {
	background-color: #da4e03;
}
.blockons-editor-note .bl-note-features {
	margin: 10px 0 2px;
}
.blockons-editor-note .bl-note-features .bl-note-feature {
	display: list-item;
	list-style-type: disclosure-closed;
	color: #5b5b5b;
	margin: 0 0 0 13px;
}
/* -- Product Quick View - THIS IS DUPLICATED IN frontend.css-- */
.blockons-quickview.one {
	margin-top: 12px;
}
.blockons-quickview.two {
	margin: 12px 0 0;
	font-size: 14px;
}
.blockons-quickview.three {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgb(0 0 0 / 38%);
	color: #fff;
	cursor: pointer;
	opacity: 0;
	transition: opacity 0.25s ease-in-out 0s;
}
.blockons-quickview.three .blockons-quickview-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 40px;
	color: inherit;
}
.wc-block-grid__product:hover .blockons-quickview.three {
	opacity: 1;
}
.wc-block-grid__product img {
	display: block;
	margin: 0 auto;
}
body.wp-admin .blockons-quickview.three {
	opacity: 1 !important;
}
/**
 * Visibility Settings added to all blocks - Blockons PRO
 */
@media only screen and (min-width: 1100px) {
	body.blockons-pro .hide-on-desktop {
		box-shadow: 0 0 0 1px #454545;
	}
	body.blockons-pro .hide-on-desktop::before {
		display: block;
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 28;
		background: repeating-linear-gradient(
			-45deg,
			#e0e0e0 0px,
			#e0e0e0 10px,
			#b1b1b1 10px,
			#b1b1b1 15px
		);
		opacity: 0.18;
	}
	body.blockons-pro .hide-on-desktop::after {
		display: block;
		background-color: #c39ac8;
		box-shadow: none !important;
		content: "Hidden on Desktop" !important;
		position: absolute !important;
		top: 1px !important;
		right: 1px !important;
		left: auto !important;
		font-size: 11px;
		font-weight: 600;
		color: #fff;
		padding: 2px 5px;
		letter-spacing: 0.3px;
		z-index: 29 !important;
		width: fit-content;
		height: fit-content;
	}
}
@media all and (min-width: 500px) and (max-width: 1100px) {
	body.blockons-pro .hide-on-tablet {
		box-shadow: 0 0 0 1px rgb(155 103 106 / 45%);
	}
	body.blockons-pro .hide-on-tablet::before {
		display: block;
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 28;
		background: repeating-linear-gradient(
			-45deg,
			#e0e0e0 0px,
			#e0e0e0 10px,
			#b1b1b1 10px,
			#b1b1b1 15px
		);
		opacity: 0.18;
	}
	body.blockons-pro .hide-on-tablet::after {
		display: block;
		background-color: #c39ac8;
		box-shadow: none !important;
		content: "Hidden on Tablet" !important;
		position: absolute !important;
		top: 1px !important;
		right: 1px !important;
		left: auto !important;
		font-size: 11px;
		font-weight: 600;
		color: #fff;
		padding: 2px 5px;
		letter-spacing: 0.3px;
		z-index: 29 !important;
		width: fit-content;
		height: fit-content;
	}
}
@media screen and (max-width: 500px) {
	body.blockons-pro .hide-on-mobile {
		box-shadow: 0 0 0 1px rgb(155 103 106 / 45%);
	}
	body.blockons-pro .hide-on-mobile::before {
		display: block;
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 28;
		background: repeating-linear-gradient(
			-45deg,
			#e0e0e0 0px,
			#e0e0e0 10px,
			#b1b1b1 10px,
			#b1b1b1 15px
		);
		opacity: 0.18;
	}
	body.blockons-pro .hide-on-mobile::after {
		display: block;
		background-color: #c39ac8;
		box-shadow: none !important;
		content: "Hidden on Mobile" !important;
		position: absolute !important;
		top: 1px !important;
		right: 1px !important;
		left: auto !important;
		font-size: 11px;
		font-weight: 600;
		color: #fff;
		padding: 2px 5px;
		letter-spacing: 0.3px;
		z-index: 29 !important;
		width: fit-content;
		height: fit-content;
	}
}
