/**
 * Settings Divider
 */
.blockons-divider {
	box-shadow: 0 4px 0 rgb(224 224 224);
	display: block;
	height: 1px;
	width: 100%;
	margin: 10px 0 30px;
}
/**
 * Help / Read More Link
 */
.helplink {
	font-size: 12px;
	font-style: normal;
	color: rgb(117, 117, 117);
	margin-bottom: 2em;
}
.helplink.fixmargin {
	margin: -15px 0 25px;
}
.helplink a {
	background-color: #cae4f1;
	color: #297cba;
	padding: 3px 7px 4px;
	border-radius: 3px;
	box-shadow: 0 1px 5px rgb(0 0 0 / 15%);
	border: 1px solid rgba(0, 0, 0, 0.15);
	font-size: 12px;
	text-decoration: none;
	margin-right: 5px;
}
.helplink a:hover {
	background-color: #c0deee;
}
/**
 * Splide resizing note
 */
.blockons-size-note {
	font-size: 12px;
	font-style: normal;
	color: rgb(117, 117, 117);
	margin: 20px 0 0;
}

/**
 * UnitControl Spacing
 */
.components-unit-control-wrapper {
	margin-bottom: 25px;
}

/**
 * Blockons Color Picker Component
 */
.components-dropdown.blockons-colorpicker {
	width: 100%;
	margin: 0 0 15px;
}
.components-button.blockons-colorpicker-btn {
	box-shadow: 0 0 0 1px #e0e0e0;
	padding: 14px 12px;
	width: 100%;
	text-decoration: none;
	color: #545454;
}
.components-button.blockons-colorpicker-btn .component-color-indicator {
	margin: 0 10px 0 0;
}
.components-button.blockons-colorpicker-btn:hover {
	box-shadow: 0 0 0 1px #b9b9b9;
}

/**
 * SelectControl Multiple
 */
.components-select-control.blockons-multiselect
	select.components-select-control__input {
	height: auto;
	padding: 0;
}
.components-select-control.blockons-multiselect
	select.components-select-control__input
	option {
	padding: 5px 6px;
}
