/**
 * Note that these styles are loaded *before* editor styles, so that
 * editor-specific styles using the same selectors will take precedence.
 */
/* ---- Slider ---- */
.blockons-slider-wrap {
	position: relative;
}
.blockons-slider-wrap .splide__list {
	border-radius: 3px;
	position: relative;
}

/* -- Slides -- */
.blockons-slider-wrap .splide.splide--slide {
	padding: 0 0 30px;
}
.blockons-slider-wrap .splide__slide {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 25px 10px;
}
.blockons-slide-inner {
	width: 75%;
}
.blockons-slide-text {
	position: relative;
}
.blockons-slide-text .blockons-fontawesome.fa-quote-left {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	opacity: 0.4;
	width: 5px;
	height: 5px;
}
.blockons-slide-text .blockons-fontawesome.fa-quote-left::before {
	position: absolute;
	top: -20px;
	right: 15px;
}
.blockons-slide-text .blockons-fontawesome.fa-quote-right {
	position: absolute;
	bottom: -15px;
	right: 0;
	z-index: 2;
	opacity: 0.4;
	width: 5px;
	height: 5px;
}
.blockons-slide-text .blockons-fontawesome.fa-quote-right::before {
	position: absolute;
	bottom: -10px;
	right: -5px;
}
.blockons-slide-text-txt {
	position: relative;
	z-index: 4;
}
.blockons-slide-author {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin: 42px 0 0;
}
.blockons-slide-author-img img {
	width: 100%;
	height: auto;
}
.blockons-slide-author-img {
	width: 45px;
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid #888;
	border-radius: 45px;
	color: #888;
	margin-right: 12px;
	position: relative;
}
.blockons-slide-author-img.hasimg {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}
.blockons-slide-author-txt-auth {
	font-size: 0.85em;
	font-weight: bold;
}
.blockons-slide-author-txt-pos {
	font-size: 0.75em;
	letter-spacing: 0.2px;
	margin-top: 3px;
}

/* ---- Star Ratings ---- */
.blockons-star-ratings {
	margin: 0 0 20px;
	text-align: center;
}
.blockons-star {
	font-size: 16px;
	margin: 0 1px;
	color: #999;
	cursor: pointer;
}
.blockons-star.checked {
	color: #fdc704;
}

/* ---- Slider Arrows ---- */
.blockons-slider-wrap .splide__arrow {
	background-color: #fff;
	border-radius: 3px;
	cursor: pointer;
	display: flex;
	color: #222;
	align-items: center;
	justify-content: center;
	padding: 10px;
	position: absolute;
	top: 50%;
	z-index: 11;
	font-size: 20px;
	margin-top: -20px;
	overflow: hidden;
	opacity: 0.8;
	transition: opacity 0.2s ease-in-out 0s;
}
.blockons-slider-wrap .splide__arrow svg {
	display: none !important;
}
.blockons-slider-wrap .splide__arrow--prev {
	left: 10px;
}
.blockons-slider-wrap .splide__arrow--next {
	right: 10px;
}
.blockons-slider-wrap .splide__arrow:disabled {
	opacity: 0 !important;
	pointer-events: none;
}
.blockons-slider-wrap.arrow-style-two .splide__arrow {
	border-radius: 50%;
}
.blockons-slider-wrap.arrow-style-three .splide__arrow {
	background-color: transparent !important;
	box-shadow: none !important;
}
.blockons-slider-wrap .splide__arrow:hover,
.blockons-slider-wrap .splide__arrow:focus {
	background-color: #fff;
	color: #222;
	opacity: 1;
}
/* - Font Awesome Overrides - */
.wp-block-blockons-testimonials.arrows-arrow-right
	.splide__arrow--prev::before {
	content: "\f060";
}
.wp-block-blockons-testimonials.arrows-arrow-right
	.splide__arrow--next::before {
	content: "\f061";
}
.wp-block-blockons-testimonials.arrows-arrow-right-long
	.splide__arrow--prev::before {
	content: "\f177";
}
.wp-block-blockons-testimonials.arrows-arrow-right-long
	.splide__arrow--next::before {
	content: "\f178";
}
.wp-block-blockons-testimonials.arrows-angle-right
	.splide__arrow--prev::before {
	content: "\f104";
}
.wp-block-blockons-testimonials.arrows-angle-right
	.splide__arrow--next::before {
	content: "\f105";
}
.wp-block-blockons-testimonials.arrows-caret-right
	.splide__arrow--prev::before {
	content: "\f0d9";
}
.wp-block-blockons-testimonials.arrows-caret-right
	.splide__arrow--next::before {
	content: "\f0da";
}
.wp-block-blockons-testimonials.arrows-angles-right
	.splide__arrow--prev::before {
	content: "\f100";
}
.wp-block-blockons-testimonials.arrows-angles-right
	.splide__arrow--next::before {
	content: "\f101";
}
/* ---- Slider Pagination ---- */
.blockons-slider-wrap .splide__pagination {
	bottom: 0;
}
.blockons-slider-wrap.pagination-dots
	.splide__pagination
	button.splide__pagination__page {
	width: 10px;
	height: 10px;
	border: 0;
	box-shadow: inset 0 0 0 1px #000;
	border-radius: 10px;
	background-color: #fff;
	margin: 0 3px;
	cursor: pointer;
}
.blockons-slider-wrap.pagination-dots
	.splide__pagination
	button.splide__pagination__page.is-active {
	background-color: #000;
	color: #fff;
}
.blockons-slider-wrap
	.splide__pagination
	button.splide__pagination__page.is-active {
	box-shadow: 0 1px 5px rgb(0 0 0 / 12%);
	transform: scale(1.1);
}

.blockons-slider-wrap.on-hover .splide__arrow--prev,
.blockons-slider-wrap.on-hover .splide__arrow--next,
.blockons-slider-wrap.on-hover .splide__pagination {
	opacity: 0;
	transition: opacity 0.3s ease-in-out 0s;
}
.blockons-slider-wrap.on-hover:hover .splide__arrow--prev,
.blockons-slider-wrap.on-hover:hover .splide__arrow--next,
.blockons-slider-wrap.on-hover:hover .splide__pagination {
	opacity: 1;
}

.blockons-slider-wrap.pagination-numbers .splide__pagination {
	counter-reset: pagination-num;
}
.blockons-slider-wrap.pagination-numbers .splide__pagination__page {
	width: 18px;
	height: 18px;
	font-size: 11px;
	font-weight: 600;
}
.blockons-slider-wrap.pagination-numbers .splide__pagination__page:before {
	counter-increment: pagination-num;
	content: counter(pagination-num);
}

/* -- Alignment -- */
.wp-block-blockons-testimonials.align-left .blockons-slide-text {
	text-align: left;
}
.wp-block-blockons-testimonials.align-center .blockons-slide-text {
	text-align: center;
}
.wp-block-blockons-testimonials.align-right .blockons-slide-text {
	text-align: right;
}

/* -- Design One -- */
.wp-block-blockons-testimonials.layout-one .blockons-slide-inner {
	display: flex;
	flex-direction: column;
}

/* -- Design Two -- */
.wp-block-blockons-testimonials.layout-two .blockons-slide-inner {
	display: flex;
	align-items: center;
	flex-direction: row-reverse;
}
.wp-block-blockons-testimonials.layout-two .blockons-slide-author {
	margin: 0 10px 0 0;
	min-width: 160px;
	flex-direction: column;
}
.wp-block-blockons-testimonials.layout-two .blockons-slide-author-img {
	margin: 0 0 8px;
}
.wp-block-blockons-testimonials.layout-two .blockons-slide-author-txt {
	text-align: center;
}

/* -- Design Three -- */
.wp-block-blockons-testimonials.layout-three .blockons-slide-inner {
	display: flex;
	flex-direction: column-reverse;
}
.wp-block-blockons-testimonials.layout-three .blockons-slide-author {
	justify-content: center;
	margin: 0 0 40px;
	flex-direction: column;
}
.wp-block-blockons-testimonials.layout-three .blockons-slide-author-img {
	margin: 0 0 8px;
}
.wp-block-blockons-testimonials.layout-three .blockons-slide-author-txt {
	text-align: center;
}

/* -- Style One -- */
.wp-block-blockons-testimonials.style-one .splide__track {
	padding: 10px;
}
.wp-block-blockons-testimonials.style-one .blockons-slide-text {
	padding-right: 0;
}
/* -- Style Two -- */
.wp-block-blockons-testimonials.style-two .splide__track {
	padding: 15px;
}
.wp-block-blockons-testimonials.style-two .blockons-slide-inner {
	box-shadow: 0 1px 5px rgb(0 0 0 / 20%);
	padding: 25px 25px 25px 45px;
}
.wp-block-blockons-testimonials.style-two.no-outer .blockons-slide-inner {
	box-shadow: none;
}
.wp-block-blockons-testimonials.style-two .blockons-slide-text {
	padding-right: 30px;
}
.wp-block-blockons-testimonials.style-two
	.splide__pagination
	button.splide__pagination__page {
	box-shadow: inset 0 0 0 1px #000, 0 1px 5px rgb(0 0 0 / 20%);
}
.wp-block-blockons-testimonials.style-two .blockons-slide-author-img,
.wp-block-blockons-testimonials.style-two .splide__arrow,
.wp-block-blockons-testimonials.style-two
	.splide__pagination
	button.splide__pagination__page.is-active {
	box-shadow: 0 1px 5px rgb(0 0 0 / 20%);
}

/* -- Style Three -- */
.wp-block-blockons-testimonials.style-three .blockons-slide-text {
	background-color: #f0f0f0;
	border-radius: 8px;
	padding: 25px 40px;
	position: relative;
}
.wp-block-blockons-testimonials.style-three .blockons-slide-text span.corner {
	display: block;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 15px 10px 0 10px;
	border-color: #f0f0f0;
	border-right-color: transparent !important;
	border-bottom-color: transparent !important;
	border-left-color: transparent !important;
	position: absolute;
	bottom: -15px;
	right: 65px;
}
.wp-block-blockons-testimonials.layout-two.style-three
	.blockons-slide-text
	span.corner {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 10px 15px 10px 0;
	border-color: #f0f0f0;
	border-top-color: transparent !important;
	border-bottom-color: transparent !important;
	border-left-color: transparent !important;
	bottom: 50%;
	right: 100%;
	margin-bottom: -7px;
}
.wp-block-blockons-testimonials.layout-three.style-three
	.blockons-slide-text
	span.corner {
	display: none;
}
.wp-block-blockons-testimonials.layout-three.style-three
	.blockons-slide-author {
	margin-bottom: 20px;
}
.wp-block-blockons-testimonials.style-three .blockons-slide-author-img,
.wp-block-blockons-testimonials.style-three .splide__arrow,
.wp-block-blockons-testimonials.style-three
	.splide__pagination
	button.splide__pagination__page.is-active {
	box-shadow: 0 1px 5px rgb(0 0 0 / 20%);
}
.wp-block-blockons-testimonials.style-three
	.blockons-slide-text
	.blockons-fontawesome.fa-quote-left::before {
	top: 5px;
	left: 10px;
}
.wp-block-blockons-testimonials.style-three
	.blockons-slide-text
	.blockons-fontawesome.fa-quote-right::before {
	bottom: 18px;
	right: 10px;
}
