/**
 * Note that these styles are loaded *before* editor styles, so that
 * editor-specific styles using the same selectors will take precedence.
 */
.wp-block-blockons-video-slider {
	position: relative;
}
/* ---- Slider ---- */
.wp-block-blockons-video-slider .swiper-slide {
	background-color: #fafafa;
	text-align: center;
	position: relative;
}
.wp-block-blockons-video-slider .swiper-slide img {
	display: block;
	margin: 0;
}
/* -- Player Styles -- */
/* -- Two -- */
.wp-block-blockons-video-slider.style-two .blockons-slider {
	box-shadow: 0 1px 6px rgb(0 0 0 / 45%);
}
/* -- Three -- */
.wp-block-blockons-video-slider.style-three .blockons-slider {
	background-color: #000;
	padding: 10px;
	border-radius: 4px;
}
/* -- Player Roundness -- */
.wp-block-blockons-video-slider.rn-rounded .blockons-slider,
.wp-block-blockons-video-slider.rn-rounded .blockons-slider .swiper {
	border-radius: 12px;
}
.wp-block-blockons-video-slider.rn-rounded .blockons-slider-btns {
	right: 12px;
}
.wp-block-blockons-video-slider.rn-rounder .blockons-slider,
.wp-block-blockons-video-slider.rn-rounded .blockons-slider .swiper {
	border-radius: 45px;
}
.wp-block-blockons-video-slider.rn-rounder .blockons-slider-btns {
	right: 45px;
}
.wp-block-blockons-video-slider.rn-round .blockons-slider,
.wp-block-blockons-video-slider.rn-rounded .blockons-slider .swiper {
	border-radius: 100px;
}
.wp-block-blockons-video-slider.rn-round .blockons-slider-btns {
	right: 95px;
}
/* - Video Responsive - */
.wp-block-blockons-video-slider .swiper-slide-video {
	position: relative;
	padding-bottom: 53%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
	z-index: 10;
}
.wp-block-blockons-video-slider .swiper-slide-video iframe,
.wp-block-blockons-video-slider .swiper-slide-video object,
.wp-block-blockons-video-slider .swiper-slide-video embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100% !important;
	height: 100% !important;
}
/* - Video Cover Image - */
.wp-block-blockons-video-slider .swiper-slide-img {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	height: 100%;
	overflow: hidden;
	z-index: 14;
}
.wp-block-blockons-video-slider .swiper-slide.blockons-play .swiper-slide-img {
	height: 0;
}
/* -- Play Button -- */
.wp-block-blockons-video-slider .swiper-slide-img .play-button {
	background-color: rgb(255 255 255 / 95%);
	box-shadow: 0 1px 14px rgb(0 0 0 / 80%);
	border-radius: 80px;
	width: 80px;
	height: 80px;
	margin: -40px 0 0 -40px;
	font-family: "Font Awesome 6 Free";
	font-weight: 900;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0.75;
	transition: opacity 0.2s ease-in-out 0s;
	cursor: pointer;
	position: absolute;
	top: 50%;
	left: 50%;
}
.wp-block-blockons-video-slider .swiper-slide-img .play-button::after {
	content: "\f04b";
	border: 0 !important;
	font-size: 38px;
	margin-left: 5px;
	color: #222;
}
.wp-block-blockons-video-slider .swiper-slide-img:hover .play-button {
	opacity: 0.9;
}

/* -- Navigation -- */
.wp-block-blockons-video-slider
	.blockons-slider.navigation-round
	.swiper-button-prev,
.wp-block-blockons-video-slider
	.blockons-slider.navigation-round
	.swiper-button-next,
.wp-block-blockons-video-slider
	.blockons-slider.navigation-rounded
	.swiper-button-prev,
.wp-block-blockons-video-slider
	.blockons-slider.navigation-rounded
	.swiper-button-next,
.wp-block-blockons-video-slider
	.blockons-slider.navigation-square
	.swiper-button-prev,
.wp-block-blockons-video-slider
	.blockons-slider.navigation-square
	.swiper-button-next {
	box-shadow: 0 1px 4px rgb(0 0 0 / 14%), inset 0 0 0 1px rgb(0 0 0 / 18%);
	width: 46px;
	height: 46px;
	margin-top: -23px;
}
.wp-block-blockons-video-slider
	.blockons-slider.navigation-round
	.swiper-button-prev,
.wp-block-blockons-video-slider
	.blockons-slider.navigation-round
	.swiper-button-next {
	border-radius: 50px;
}
.wp-block-blockons-video-slider
	.blockons-slider.navigation-rounded
	.swiper-button-prev,
.wp-block-blockons-video-slider
	.blockons-slider.navigation-rounded
	.swiper-button-next {
	border-radius: 8px;
}

.wp-block-blockons-video-slider
	.blockons-slider.navigation-dark
	.swiper-button-prev,
.wp-block-blockons-video-slider
	.blockons-slider.navigation-dark
	.swiper-button-next {
	color: #222;
}
.wp-block-blockons-video-slider
	.blockons-slider.navigation-light
	.swiper-button-prev,
.wp-block-blockons-video-slider
	.blockons-slider.navigation-light
	.swiper-button-next {
	color: #fff;
}
.wp-block-blockons-video-slider
	.blockons-slider.navigation-dark.navigation-round
	.swiper-button-prev,
.wp-block-blockons-video-slider
	.blockons-slider.navigation-dark.navigation-round
	.swiper-button-next,
.wp-block-blockons-video-slider
	.blockons-slider.navigation-dark.navigation-rounded
	.swiper-button-prev,
.wp-block-blockons-video-slider
	.blockons-slider.navigation-dark.navigation-rounded
	.swiper-button-next,
.wp-block-blockons-video-slider
	.blockons-slider.navigation-dark.navigation-square
	.swiper-button-prev,
.wp-block-blockons-video-slider
	.blockons-slider.navigation-dark.navigation-square
	.swiper-button-next {
	background-color: #222;
	color: #fff;
}
.wp-block-blockons-video-slider
	.blockons-slider.navigation-light.navigation-round
	.swiper-button-prev,
.wp-block-blockons-video-slider
	.blockons-slider.navigation-light.navigation-round
	.swiper-button-next,
.wp-block-blockons-video-slider
	.blockons-slider.navigation-light.navigation-rounded
	.swiper-button-prev,
.wp-block-blockons-video-slider
	.blockons-slider.navigation-light.navigation-rounded
	.swiper-button-next,
.wp-block-blockons-video-slider
	.blockons-slider.navigation-light.navigation-square
	.swiper-button-prev,
.wp-block-blockons-video-slider
	.blockons-slider.navigation-light.navigation-square
	.swiper-button-next {
	background-color: #fff;
	color: #222;
}
.wp-block-blockons-video-slider
	.blockons-slider.default-icon.navigation-round
	.swiper-button-prev::after,
.wp-block-blockons-video-slider
	.blockons-slider.default-icon.navigation-round
	.swiper-button-next::after,
.wp-block-blockons-video-slider
	.blockons-slider.default-icon.navigation-rounded
	.swiper-button-prev::after,
.wp-block-blockons-video-slider
	.blockons-slider.default-icon.navigation-rounded
	.swiper-button-next::after,
.wp-block-blockons-video-slider
	.blockons-slider.default-icon.navigation-square
	.swiper-button-prev::after,
.wp-block-blockons-video-slider
	.blockons-slider.default-icon.navigation-square
	.swiper-button-next::after {
	font-size: 30px;
}
/* - Arrows - */
.wp-block-blockons-video-slider
	.blockons-slider.custom-icon
	.swiper-button-prev::after,
.wp-block-blockons-video-slider
	.blockons-slider.custom-icon
	.swiper-button-next::after {
	font-family: "Font Awesome 6 Free";
	font-weight: 900;
	font-size: 32px;
}
/* - Font Awesome Overrides - */
.wp-block-blockons-video-slider
	.blockons-slider.custom-icon.arrows-arrow-right
	.swiper-button-prev::after {
	content: "\f060";
}
.wp-block-blockons-video-slider
	.blockons-slider.custom-icon.arrows-arrow-right
	.swiper-button-next::after {
	content: "\f061";
}
.wp-block-blockons-video-slider
	.blockons-slider.custom-icon.arrows-arrow-right-long
	.swiper-button-prev::after {
	content: "\f177";
}
.wp-block-blockons-video-slider
	.blockons-slider.custom-icon.arrows-arrow-right-long
	.swiper-button-next::after {
	content: "\f178";
}
.wp-block-blockons-video-slider
	.blockons-slider.custom-icon.arrows-angle-right
	.swiper-button-prev::after {
	content: "\f104";
}
.wp-block-blockons-video-slider
	.blockons-slider.custom-icon.arrows-angle-right
	.swiper-button-next::after {
	content: "\f105";
}
.wp-block-blockons-video-slider
	.blockons-slider.custom-icon.arrows-caret-right
	.swiper-button-prev::after {
	content: "\f0d9";
}
.wp-block-blockons-video-slider
	.blockons-slider.custom-icon.arrows-caret-right
	.swiper-button-next::after {
	content: "\f0da";
}
.wp-block-blockons-video-slider
	.blockons-slider.custom-icon.arrows-angles-right
	.swiper-button-prev::after {
	content: "\f100";
}
.wp-block-blockons-video-slider
	.blockons-slider.custom-icon.arrows-angles-right
	.swiper-button-next::after {
	content: "\f101";
}
/* -- Pagination -- */
.wp-block-blockons-video-slider .blockons-slider .swiper-pagination {
	position: relative;
	bottom: auto;
	padding: 2px 0;
}
.wp-block-blockons-video-slider
	.blockons-slider.pagination-dark
	.swiper-pagination
	.swiper-pagination-bullet.swiper-pagination-bullet-active {
	background-color: #222;
}
.wp-block-blockons-video-slider
	.blockons-slider.pagination-light
	.swiper-pagination
	.swiper-pagination-bullet.swiper-pagination-bullet-active {
	background-color: #fff;
	box-shadow: 0 0 0 1px #c6c6c6;
	color: #111;
}
.wp-block-blockons-video-slider .blockons-slider.pagination-numbers {
	counter-reset: blockons-slider-counter;
}
.wp-block-blockons-video-slider
	.blockons-slider.pagination-numbers
	.swiper-pagination-bullet {
	color: #fff;
	font-size: 11px;
	font-weight: bold;
	width: 16px;
	height: 16px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}
.wp-block-blockons-video-slider
	.blockons-slider.pagination-numbers
	.swiper-pagination-bullet::before {
	counter-increment: blockons-slider-counter;
	content: counter(blockons-slider-counter);
}

.wp-block-blockons-video-slider
	.blockons-slider.controlsOnHover
	.swiper-button-prev,
.wp-block-blockons-video-slider
	.blockons-slider.controlsOnHover
	.swiper-button-next,
.wp-block-blockons-video-slider
	.blockons-slider.controlsOnHover
	.swiper-pagination {
	opacity: 0;
	transition: opacity 0.3s ease-in-out 0s;
}
.wp-block-blockons-video-slider
	.blockons-slider.controlsOnHover:hover
	.swiper-button-prev,
.wp-block-blockons-video-slider
	.blockons-slider.controlsOnHover:hover
	.swiper-button-next,
.wp-block-blockons-video-slider
	.blockons-slider.controlsOnHover:hover
	.swiper-pagination {
	opacity: 1;
}
