/**
 * Note that these styles are loaded *before* editor styles, so that
 * editor-specific styles using the same selectors will take precedence.
 */
/* ---- Slider ---- */
.wp-block-blockons-video-slider {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.wp-block-blockons-video-slider.center-align {
	justify-content: center;
}
.wp-block-blockons-video-slider.right-align {
	justify-content: flex-end;
}
.blockons-video-slider {
	flex: 1;
}
/* ---- Slider Arrows ---- */
.blockons-video-slider-wrap .splide__arrow {
	background-color: #fff;
	border-radius: 3px;
	cursor: pointer;
	display: flex;
	color: #222;
	align-items: center;
	justify-content: center;
	padding: 10px;
	position: absolute;
	top: 50%;
	z-index: 11;
	font-size: 20px;
	margin-top: -20px;
	overflow: hidden;
	opacity: 0.8;
	transition: opacity 0.2s ease-in-out 0s;
}
.blockons-video-slider-wrap .splide__arrow svg {
	display: none !important;
}
.blockons-video-slider-wrap .splide__arrow--prev {
	left: 10px;
}
.blockons-video-slider-wrap .splide__arrow--next {
	right: 10px;
}
.blockons-video-slider-wrap .splide__arrow:disabled {
	opacity: 0 !important;
	pointer-events: none;
}
.blockons-video-slider-wrap .splide__arrow:hover,
.blockons-video-slider-wrap .splide__arrow:focus {
	background-color: #fff;
	color: #222;
	opacity: 1;
}
/* - Font Awesome Overrides - */
.wp-block-blockons-video-slider.arrows-arrow-right
	.splide__arrow--prev::before {
	content: "\f060";
}
.wp-block-blockons-video-slider.arrows-arrow-right
	.splide__arrow--next::before {
	content: "\f061";
}
.wp-block-blockons-video-slider.arrows-arrow-right-long
	.splide__arrow--prev::before {
	content: "\f177";
}
.wp-block-blockons-video-slider.arrows-arrow-right-long
	.splide__arrow--next::before {
	content: "\f178";
}
.wp-block-blockons-video-slider.arrows-angle-right
	.splide__arrow--prev::before {
	content: "\f104";
}
.wp-block-blockons-video-slider.arrows-angle-right
	.splide__arrow--next::before {
	content: "\f105";
}
.wp-block-blockons-video-slider.arrows-caret-right
	.splide__arrow--prev::before {
	content: "\f0d9";
}
.wp-block-blockons-video-slider.arrows-caret-right
	.splide__arrow--next::before {
	content: "\f0da";
}
.wp-block-blockons-video-slider.arrows-angles-right
	.splide__arrow--prev::before {
	content: "\f100";
}
.wp-block-blockons-video-slider.arrows-angles-right
	.splide__arrow--next::before {
	content: "\f101";
}
/* ---- Slider Pagination ---- */
.blockons-video-slider-wrap.pagination-dots
	.splide__pagination
	button.splide__pagination__page {
	width: 10px;
	height: 10px;
	border: 0;
	box-shadow: inset 0 0 0 1px #000;
	border-radius: 10px;
	background-color: #fff;
	margin: 0 3px;
	cursor: pointer;
}
.blockons-video-slider-wrap.pagination-dots
	.splide__pagination
	button.splide__pagination__page.is-active {
	background-color: #000;
	color: #fff;
}
.blockons-video-slider-wrap
	.splide__pagination
	button.splide__pagination__page.is-active {
	box-shadow: 0 1px 5px rgb(0 0 0 / 12%);
	transform: scale(1.1);
}

.blockons-video-slider-wrap.on-hover .splide__arrow--prev,
.blockons-video-slider-wrap.on-hover .splide__arrow--next,
.blockons-video-slider-wrap.on-hover .splide__pagination {
	opacity: 0;
	transition: opacity 0.3s ease-in-out 0s;
}
.blockons-video-slider-wrap.on-hover:hover .splide__arrow--prev,
.blockons-video-slider-wrap.on-hover:hover .splide__arrow--next,
.blockons-video-slider-wrap.on-hover:hover .splide__pagination {
	opacity: 1;
}

.blockons-video-slider-wrap.pagination-numbers .splide__pagination {
	counter-reset: pagination-num;
}
.blockons-video-slider-wrap.pagination-numbers .splide__pagination__page {
	width: 18px;
	height: 18px;
	font-size: 11px;
	font-weight: 600;
}
.blockons-video-slider-wrap.pagination-numbers
	.splide__pagination__page:before {
	counter-increment: pagination-num;
	content: counter(pagination-num);
}

/* -- Player Styles -- */
/* -- Two -- */
.wp-block-blockons-video-slider.style-two .splide__track {
	box-shadow: 0 1px 6px rgb(0 0 0 / 45%);
}
.wp-block-blockons-video-slider.style-two .splide__arrow {
	box-shadow: 0 1px 6px rgb(0 0 0 / 45%);
}
/* -- Three -- */
.wp-block-blockons-video-slider.style-three .blockons-video-slider-wrap {
	background-color: #000;
	padding: 10px;
	border-radius: 4px;
}
/* -- Player Roundness -- */
.wp-block-blockons-video-slider.rn-rounded .splide__track {
	border-radius: 12px;
}
.wp-block-blockons-video-slider.rn-rounded .blockons-item-btns {
	right: 12px;
}
.wp-block-blockons-video-slider.rn-rounder .splide__track {
	border-radius: 45px;
}
.wp-block-blockons-video-slider.rn-rounder .blockons-item-btns {
	right: 45px;
}
.wp-block-blockons-video-slider.rn-round .splide__track {
	border-radius: 100px;
}
.wp-block-blockons-video-slider.rn-round .blockons-item-btns {
	right: 95px;
}
/* -- Play Button Design -- */
.wp-block-blockons-video-slider.playbtn-one button.splide__video__play {
	background-color: rgb(255 255 255 / 85%);
	border-radius: 80px;
	width: 80px;
	height: 80px;
	margin: -20px 0 0;
	font-family: "Font Awesome 6 Free";
	font-weight: 900;
}
.wp-block-blockons-video-slider.playbtn-one button.splide__video__play::after {
	content: "\f04b";
	border: 0 !important;
	font-size: 38px;
	color: #222;
}

/* ---- Splide Video Extension CSS ---- */
.splide__slide--has-video {
	cursor: pointer;
}
.splide__slide--has-video:hover .splide__video__play {
	opacity: 1;
}
.splide__slide__container--has-video {
	cursor: pointer;
	position: relative;
}
.splide__slide__container--has-video:hover .splide__video__play {
	opacity: 1;
}
.splide__video {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}
.splide__video__wrapper {
	background: #000;
	height: inherit;
	width: inherit;
}
.splide__video__wrapper div,
.splide__video__wrapper iframe,
.splide__video__wrapper video {
	height: 100%;
	width: 100%;
}
.splide__video__play {
	align-items: center;
	background: #ccc;
	border: 0;
	border-radius: 50%;
	cursor: pointer;
	display: flex;
	height: 40px;
	justify-content: center;
	left: 50%;
	opacity: 0.7;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	transition: opacity 0.1s linear;
	width: 40px;
}
.splide__video__play:after {
	border-color: transparent transparent transparent #000;
	border-style: solid;
	border-width: 9px 0 9px 17px;
	content: "";
	display: inline-block;
	margin-left: 4px;
}
