/**
 * Note that these styles are loaded *after* common styles, so that
 * editor-specific styles using the same selectors will take precedence.
 */
.blockons-contact-form .blockons-cf-fields {
	display: block;
}
.blockons-contact-form .blockons-cf-fields .block-editor-inner-blocks {
	flex: 1;
}
.blockons-contact-form
	.blockons-cf-fields
	> .block-editor-inner-blocks
	.block-editor-block-list__layout {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
/* - Cols - */
.blockons-contact-form
	.blockons-cf-fields
	.block-editor-block-list__block.wp-block:has(> .col-100) {
	width: 100%;
}
.blockons-contact-form
	.blockons-cf-fields
	.block-editor-block-list__block.wp-block:has(> .col-80) {
	width: 80%;
}
.blockons-contact-form
	.blockons-cf-fields
	.block-editor-block-list__block.wp-block:has(> .col-75) {
	width: 75%;
}
.blockons-contact-form
	.blockons-cf-fields
	.block-editor-block-list__block.wp-block:has(> .col-50) {
	width: 50%;
}
.blockons-contact-form
	.blockons-cf-fields
	.block-editor-block-list__block.wp-block:has(> .col-25) {
	width: 25%;
}
.blockons-contact-form
	.blockons-cf-fields
	.block-editor-block-list__block.wp-block:has(> .col-20) {
	width: 20%;
}
.blockons-contact-form
	.blockons-cf-fields
	> .block-editor-inner-blocks
	.block-editor-block-list__block {
	width: 100%;
	margin: 0;
}
/* - Cols - */
.blockons-contact-form .blockons-cf-fields .block-list-appender.wp-block {
	position: relative;
	display: flex;
	justify-content: center;
	margin: -5px 4px 10px;
	width: 100%;
}
.blockons-contact-form .blockons-cf--button .blockons-cf-submit-btn {
	pointer-events: none;
}
.blockons-contact-form
	.blockons-cf-fields
	.form-field
	input.form-input::placeholder,
.blockons-contact-form
	.blockons-cf-fields
	.form-field
	textarea.form-textarea::placeholder,
.blockons-contact-form
	.blockons-cf-fields
	.form-field
	input.blockons-datepicker::placeholder {
	color: inherit;
}

.blockons-cf-option-row {
	position: relative;
	margin: 0 0 30px;
}
.blockons-cf-option-row .blockons-cf-remove-option {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0 3px;
	height: 14px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 12px;
	line-height: 1;
}

.components-text-control__input.has-error {
	border-color: #cc1818 !important;
}
.error-message {
	color: #cc1818;
	margin-top: -16px;
	margin-bottom: 16px;
	font-size: 12px;
}

.blockons-shortcode-list {
	margin: -8px 0 15px;
}
.blockons-shortcode-list .blockons-shortcode-btn {
	background-color: #fff;
	border: 0;
	margin: 0 2px 5px;
	color: #656565;
	font-size: 13px;
	letter-spacing: 0.3px;
	cursor: pointer;
}
.blockons-shortcode-list .blockons-shortcode-btn:hover {
	color: #000;
}
.blockons-shortcode-list .blockons-shortcode-btn:first-child {
	margin-left: 0;
}
.blockons-shortcode-list .blockons-shortcode-btn.is-copied {
	color: #11b411;
}
.blockons-shortcode-list label.components-base-control__label {
	font-size: 11px;
	font-weight: 500;
	line-height: 1.4;
	text-transform: uppercase;
	display: inline-block;
	margin-bottom: calc(8px);
	padding: 0px;
}
.blockons-shortcode-list .components-base-control__help {
	margin-top: 14px;
	font-size: 12px;
	font-style: normal;
	color: rgb(117, 117, 117);
	margin-bottom: revert;
}

/* -- Pro Upgrade Block -- */
.blockons-form-upgrade {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 20px;
	margin: 10px;
	background-color: #fffafa;
	border: 1px solid #feabab;
	border-radius: 4px;
	font-size: 13px;
}
