/**
 * Note that these styles are loaded *before* editor styles, so that
 * editor-specific styles using the same selectors will take precedence.
 */
.blockons-contact-form,
.blockons-cf--button {
	display: flex;
}
.blockons-cf-form p,
.blockons-cf-form h1,
.blockons-cf-form h2,
.blockons-cf-form h3,
.blockons-cf-form h4,
.blockons-cf-form h5,
.blockons-cf-form h6 {
	margin: 0;
	padding: 0;
}
/* -- Alignment -- */
.blockons-contact-form.alignment-left .form-field .form-label,
.blockons-contact-form.alignment-left .blockons-cf--footer {
	text-align: left;
}
.blockons-contact-form.alignment-center .form-field .form-label,
.blockons-contact-form.alignment-center .blockons-cf--footer {
	text-align: center;
}
.blockons-contact-form.alignment-right .form-field .form-label,
.blockons-contact-form.alignment-right .blockons-cf--footer {
	text-align: right;
}
/* -- Align -- */
.blockons-contact-form.left-align,
.blockons-contact-form.alignment-left .blockons-cf--button {
	justify-content: flex-start;
}
.blockons-contact-form.center-align,
.blockons-contact-form.alignment-center .blockons-cf--button {
	justify-content: center;
}
.blockons-contact-form.right-align,
.blockons-contact-form.alignment-right .blockons-cf--button {
	justify-content: flex-end;
}

.blockons-contact-form .blockons-cf-wrap {
	width: 100%;
	padding: 10px;
}
.blockons-contact-form .blockons-cf-fields {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.blockons-contact-form .blockons-cf-fields .form-field {
	margin-bottom: 12px;
	display: flex;
	flex-direction: column;
}
.blockons-contact-form .blockons-cf-fields .form-field label p {
	margin: 0;
	padding: 0;
}

/* - Cols - */
.blockons-contact-form .blockons-cf-fields .col-100 {
	width: 100%;
}
.blockons-contact-form .blockons-cf-fields .col-80 {
	width: 80%;
}
.blockons-contact-form .blockons-cf-fields .col-75 {
	width: 75%;
}
.blockons-contact-form .blockons-cf-fields .col-50 {
	width: 50%;
}
.blockons-contact-form .blockons-cf-fields .col-25 {
	width: 25%;
}
.blockons-contact-form .blockons-cf-fields .col-20 {
	width: 20%;
}
/* - Cols - */
.blockons-contact-form .blockons-cfh-field {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	height: 0;
	width: 0;
	z-index: -1;
	overflow: hidden;
}
.blockons-contact-form .blockons-cf-fields .form-field .form-label {
	display: flex;
	margin: 0 0 5px;
	font-size: 15px;
}
.blockons-contact-form .blockons-cf-fields .form-label span.required {
	margin: 0 4px;
}
.blockons-contact-form .blockons-cf-fields .form-description {
	font-size: 0.85em;
	opacity: 0.8;
	margin: 0 0 12px;
}
.blockons-contact-form .blockons-cf-fields .form-field input.form-input,
.blockons-contact-form .blockons-cf-fields .form-field textarea.form-textarea,
.blockons-contact-form .blockons-cf-fields .form-field select.form-select,
.blockons-contact-form
	.blockons-cf-fields
	.form-field
	input.blockons-datepicker {
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.04);
	width: 100%;
	max-width: 100%;
	margin: 0;
	padding: 8px 15px;
	background-color: #fff;
	border: 1px solid #dbdbdb;
	font-size: 15px;
	border-radius: 4px;
	color: #555;
	box-sizing: border-box;
	font-family: inherit;
}

.blockons-contact-form .blockons-cf--footer {
	margin-top: 25px;
}
.blockons-contact-form .blockons-cf--button .blockons-cf-submit-btn {
	background-color: #31a2eb;
	color: #fff;
	border: 1px solid rgb(0 0 0 / 25%);
	border-radius: 4px;
	margin: 0;
	padding: 12px 24px;
	font-size: 14px;
	letter-spacing: 0.4px;
	cursor: pointer;
}
.blockons-contact-form .blockons-cf--button .blockons-cf-submit-btn:hover {
	filter: brightness(0.92);
}
.blockons-contact-form .blockons-cf-messages {
	margin: 20px 0 0;
}
.blockons-contact-form .blockons-cf-messages .blockons-cf-msg-success {
	display: none;
	color: #0ba204;
	background-color: #f2fdf2;
	border: 1px solid #0ba204;
	font-size: 15px;
	margin: 20px 2px 0;
	padding: 10px 15px;
}
.blockons-contact-form .blockons-cf-messages .blockons-cf-msg-error {
	display: none;
	color: #dc0606;
	background-color: #fff3f3;
	border: 1px solid #dc0506;
	font-size: 15px;
	margin: 20px 2px 0;
	padding: 10px 15px;
}
.blockons-contact-form .blockons-cf-fields .form-label span.required,
.blockons-contact-form .blockons-cf-fields .acceptance-label span.required {
	color: #dc0606;
}
.blockons-contact-form .blockons-cf-fields .field-error {
	color: #dc0606;
	font-size: 0.85em;
	margin: -2px 0 10px;
}
.blockons-contact-form .blockons-cf-fields .form-field .checkbox-option input,
.blockons-contact-form .blockons-cf-fields .form-field .radio-option input {
	margin-right: 8px;
}
/* - Acceptance - */
.blockons-form-acceptance .acceptance-wrap {
	display: flex;
	align-items: center;
	gap: 8px;
}
.blockons-form-acceptance .acceptance-input {
	width: 20px;
}
.blockons-form-acceptance .acceptance-copy {
	flex: 1;
}
/* - File Upload - */
.blockons-form-file-upload .form-field .file-upload-wrapper input {
	background: none;
}
.blockons-form-file-upload .form-field .file-description {
	font-size: 0.8em;
}

/* - Errors - */
.blockons-contact-form .blockons-cf-fields .form-field .form-label {
	order: 1;
}
.blockons-contact-form .blockons-cf-fields .form-description {
	order: 2;
}
.blockons-contact-form .blockons-cf-fields.above .form-field .field-error {
	order: 3;
	margin: -2px 0 10px;
}
.blockons-contact-form .blockons-cf-fields .form-field .form-control {
	order: 5;
}
.blockons-contact-form .blockons-cf-fields.below .form-field .field-error {
	order: 6;
	margin: 5px 0 0;
}
.blockons-contact-form .blockons-cf-fields.border .form-field .field-error {
	display: none !important;
}
.blockons-contact-form
	.blockons-cf-fields.border
	.form-field.has-error
	input.form-input,
.blockons-contact-form
	.blockons-cf-fields.border
	.form-field.has-error
	textarea.form-textarea,
.blockons-contact-form
	.blockons-cf-fields.border
	.form-field.has-error
	select.form-select,
.blockons-contact-form
	.blockons-cf-fields.border
	.form-field.has-error
	input.blockons-datepicker {
	border: 1px solid #dc0606 !important;
}
.blockons-contact-form
	.blockons-cf-fields.border
	.form-field.has-error
	.acceptance-label-txt {
	border-bottom: 1px solid #dc0606;
}
