/**
 * Note that these styles are loaded *after* common styles, so that
 * editor-specific styles using the same selectors will take precedence.
 */
.wp-block-blockons-image-comparison .blockons-ic-button {
	background-color: #fff;
	box-shadow: 0 1px 5px rgb(0 0 0 / 18%);
	border-radius: 3px;
	position: absolute;
	top: 10px;
	left: 10px;
	z-index: 99;
	width: 36px;
	height: 36px;
	padding: 0;
	font-family: 'Dashicons';
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 18px;
}
.wp-block-blockons-image-comparison .blockons-ic-button.after {
	left: auto;
	right: 10px;
}
