/**
 * Note that these styles are loaded *after* common styles, so that
 * editor-specific styles using the same selectors will take precedence.
 */
.hidden-frontend {
	display: block !important;
	box-shadow: 0 0 0 1px #454545;
	position: relative;
}
.hidden-frontend::before {
	display: block;
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 28;
	background: repeating-linear-gradient(
		-45deg,
		#e0e0e0 0px,
		#e0e0e0 10px,
		#b1b1b1 10px,
		#b1b1b1 15px
	);
	opacity: 0.18;
}
.hidden-frontend::after {
	display: block;
	background-color: #c39ac8;
	box-shadow: none !important;
	content: "Hidden on Frontend" !important;
	position: absolute !important;
	top: 1px !important;
	right: 1px !important;
	left: auto !important;
	font-size: 11px;
	font-weight: 600;
	color: #fff;
	padding: 2px 5px;
	letter-spacing: 0.3px;
	z-index: 29 !important;
	width: fit-content;
	height: fit-content;
}

.wp-block-blockons-accordions {
	position: relative;
}
.wp-block-blockons-accordions .accordion-label .blockons-fontawesome {
	padding: 5px;
	border-radius: 3px;
}
.wp-block-blockons-accordions .accordion-label:hover .blockons-fontawesome {
	box-shadow: 0 0 0 1px #cecece;
}
.wp-block-blockons-accordions .accordion-label .blockons-fontawesome:hover {
	box-shadow: 0 0 0 1px #297cba;
}
.wp-block-blockons-accordions.has-child-selected
	.block-editor-block-list__block.is-selected {
	margin: 0;
}
.wp-block-blockons-accordions .accordion-label .accordion-label-title {
	margin: 0;
	padding: 0;
}
.block-editor-block-list__block .accordion-content {
	/* display: none !important; */
	max-height: initial !important;
}
.wp-block-blockons-accordion .accordion-content {
	display: none;
}
.wp-block-blockons-accordions
	.block-editor-block-list__block.is-selected
	> .wp-block-blockons-accordion
	> .accordion-content,
.wp-block-blockons-accordions
	.block-editor-block-list__block.has-child-selected
	> .wp-block-blockons-accordion
	> .accordion-content,
.wp-block-blockons-accordion.selected > .accordion-content {
	display: block;
}
/* -- Appender Button -- */
.wp-block-blockons-accordions.wp-block
	.accordions-wrap
	> .block-editor-inner-blocks
	> .block-editor-block-list__layout
	> .block-list-appender {
	position: relative;
	display: none;
}
.wp-block-blockons-accordions.wp-block.has-child-selected
	.accordions-wrap
	> .block-editor-inner-blocks
	> .block-editor-block-list__layout
	> .block-list-appender,
.wp-block-blockons-accordions.wp-block.is-selected
	.accordions-wrap
	> .block-editor-inner-blocks
	> .block-editor-block-list__layout
	> .block-list-appender {
	display: block;
}
.wp-block-blockons-accordions.wp-block .block-editor-button-block-appender {
	background-color: #fbfbfb;
	border: 1px dashed #cecece;
	box-shadow: none;
	padding: 5px;
}

.wp-block-blockons-accordions.wp-block.has-children
	.block-editor-button-block-appender {
	border-radius: 4px;
	padding: 10px;
}

/* -- Fix small black Appender Button position in Inner blocks -- */
.block-editor-inner-blocks
	.block-editor-block-list__block
	.block-list-appender.block-list-appender {
	position: relative;
	margin: 20px 0 0;
}

/* -- Child Block Selected -- */
.block-editor-block-list__block.wp-block.wp-block-blockons-accordions.has-child-selected {
	border: 2px solid #f5c48c;
	border-radius: 3px;
}
.block-editor-block-list__block.wp-block.wp-block-blockons-accordions.has-child-selected::before {
	display: block;
	border-radius: 3px 3px 0 0;
	content: "Child Selected";
	position: absolute;
	top: -19px;
	right: 48px;
	background-color: #f5c48c;
	font-size: 11px;
	padding: 1px 5px;
	color: #fff;
	letter-spacing: 0.5px;
}

/* -- SINGLE ACCORDION Styling -- */
.wp-block-blockons-accordion:hover {
	box-shadow: inset 0 0 0 1px #e0e0e0;
}
