/**
 * Note that these styles are loaded *before* editor styles, so that
 * editor-specific styles using the same selectors will take precedence.
 */
.wp-block-blockons-accordions .accordion-label {
	background-color: #efefef;
	border-radius: 3px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0;
	padding: 8px 12px;
	font-size: 16px;
	letter-spacing: 0.2px;
	cursor: pointer;
}
.wp-block-blockons-accordions .accordion-label .accordion-label-title {
	color: inherit;
	font-size: 16px;
	font-weight: 300;
	margin: 0;
	padding: 0;
}
.wp-block-blockons-accordions .accordion-label .accordion-icon {
}
.wp-block-blockons-accordion.rotate .blockons-fontawesome {
	transform: rotate(0deg);
	transition: all 0.15s ease-in-out 0s;
}
.wp-block-blockons-accordion.selected.rotate
	.accordion-label
	.blockons-fontawesome,
.wp-block-blockons-accordion.active.rotate
	.accordion-label
	.blockons-fontawesome {
	transform: rotate(90deg);
}
.wp-block-blockons-accordion .accordion-content {
	overflow: hidden;
	max-height: 0;
	transition: max-height 0.25s ease-in-out 0s;
}
.wp-block-blockons-accordion .accordion-content-inner {
	padding: 12px;
}
.accordion-content {
	transition: max-height 0.25s ease-in-out 0s;
}

/* -- Icon Changes for plus, eye and circle-plus -- */
.wp-block-blockons-accordion.selected.change.plus
	.accordion-label
	.blockons-fontawesome::before,
.wp-block-blockons-accordion.active.change.plus
	.accordion-label
	.blockons-fontawesome::before {
	content: "\f068";
}
.wp-block-blockons-accordion.selected.change.eye
	.accordion-label
	.blockons-fontawesome::before,
.wp-block-blockons-accordion.active.change.eye
	.accordion-label
	.blockons-fontawesome::before {
	content: "\f070";
}
.wp-block-blockons-accordion.selected.change.circle-plus
	.accordion-label
	.blockons-fontawesome::before,
.wp-block-blockons-accordion.active.change.circle-plus
	.accordion-label
	.blockons-fontawesome::before {
	content: "\f056";
}

@-moz-keyframes spin {
	100% {
		-moz-transform: rotate(90deg);
	}
}
@-webkit-keyframes spin {
	100% {
		-webkit-transform: rotate(90deg);
	}
}
@keyframes spin {
	100% {
		-webkit-transform: rotate(90deg);
		transform: rotate(90deg);
	}
}

/* ---- Design One ---- */
.wp-block-blockons-accordions.design-one .accordion-label {
}
.wp-block-blockons-accordions.design-one .accordion-content {
}

/* ---- Design Two ---- */
.wp-block-blockons-accordions.design-two .accordion-label {
	border-radius: 0;
	box-shadow: inset 0 -2px 0 rgb(0 0 0 / 35%);
}
.wp-block-blockons-accordions.design-two .accordion-content {
}

/* ---- Design Three ---- */
.wp-block-blockons-accordions.design-three .wp-block-blockons-accordion {
	border-radius: 3px;
	box-shadow: 0 0 2px rgb(0 0 0 / 75%);
}
.wp-block-blockons-accordions.design-three .accordion-content {
}

/* ---- Design Four ---- */
.wp-block-blockons-accordions.design-four .accordion-label {
	border-radius: 0;
	box-shadow: inset 4px 0 rgb(0 0 0 / 35%);
	padding-left: 16px;
}
.wp-block-blockons-accordions.design-four .accordion-content {
}

/* ---- Icon First ---- */
.wp-block-blockons-accordions.icon-first
	.accordion-label
	.accordion-label-title {
	order: 2;
	flex: 1;
}
.wp-block-blockons-accordions.icon-first .accordion-label .accordion-icon {
	order: 1;
	margin-right: 10px;
}

/* ---- Label Centered ---- */
.wp-block-blockons-accordions.centered .accordion-label {
	justify-content: center;
}
.wp-block-blockons-accordions.centered .accordion-label .accordion-label-title {
	flex: none;
}
.wp-block-blockons-accordions.centered .accordion-label .accordion-icon {
	margin-right: 0;
	margin-left: 10px;
}
.wp-block-blockons-accordions.icon-first.centered
	.accordion-label
	.accordion-icon {
	margin-right: 10px;
	margin-left: 0;
}

/* -- SINGLE ACCORDION Styling -- */
.wp-block-blockons-accordion {
	margin: 0 0 12px;
}
