/**
 * Note that these styles are loaded *before* editor styles, so that
 * editor-specific styles using the same selectors will take precedence.
 */
.hidden-frontend {
	display: none !important;
}
.wp-block-blockons-accordions .accordion-label {
	background-color: #efefef;
	border-radius: 3px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0;
	padding: 8px 12px;
	font-size: 16px;
	letter-spacing: 0.2px;
	cursor: pointer;
}
.wp-block-blockons-accordions .accordion-label .accordion-label-title {
	color: inherit;
	font-size: 18px;
	margin: 0;
	padding: 0;
}
.wp-block-blockons-accordion.rotate .blockons-fontawesome {
	transform: rotate(0deg);
	transition: all 0.15s ease-in-out 0s;
}
.wp-block-blockons-accordion.active.rotate
	> .accordion-label
	.blockons-fontawesome {
	transform: rotate(90deg);
}
.wp-block-blockons-accordion > .accordion-content {
	max-height: 0;
	overflow: hidden;
}
/* Fallback for accordion-panel class */
.accordion-panel > .accordion-content {
	max-height: 0;
	overflow: hidden;
}
.wp-block-blockons-accordion .accordion-content-inner {
	padding: 12px;
}
.accordion-content {
	transition: max-height 0.25s ease-in-out 0s;
}

/* -- Icon Changes for plus, eye and circle-plus -- */
.wp-block-blockons-accordion.selected.change.plus
	.accordion-label
	.blockons-fontawesome::before,
.wp-block-blockons-accordion.active.change.plus
	.accordion-label
	.blockons-fontawesome::before {
	content: '\f068';
}
.wp-block-blockons-accordion.selected.change.eye
	.accordion-label
	.blockons-fontawesome::before,
.wp-block-blockons-accordion.active.change.eye
	.accordion-label
	.blockons-fontawesome::before {
	content: '\f070';
}
.wp-block-blockons-accordion.selected.change.circle-plus
	.accordion-label
	.blockons-fontawesome::before,
.wp-block-blockons-accordion.active.change.circle-plus
	.accordion-label
	.blockons-fontawesome::before {
	content: '\f056';
}

@-moz-keyframes spin {
	100% {
		-moz-transform: rotate(90deg);
	}
}
@-webkit-keyframes spin {
	100% {
		-webkit-transform: rotate(90deg);
	}
}
@keyframes spin {
	100% {
		-webkit-transform: rotate(90deg);
		transform: rotate(90deg);
	}
}

.wp-block-blockons-accordions.design-one
	> .accordions-wrap
	.wp-block-blockons-accordion
	> .accordion-label {
	border: none !important;
}

/* ---- Design Two ---- */
.wp-block-blockons-accordions.design-two
	> .accordions-wrap
	.wp-block-blockons-accordion
	> .accordion-label {
	background-color: transparent !important;
	border-radius: 0;
	border-bottom: 2px solid #efefef;
}

/* ---- Design Three ---- */
.wp-block-blockons-accordions.design-three
	> .accordions-wrap
	.wp-block-blockons-accordion {
	border-radius: 3px;
}
.wp-block-blockons-accordions.design-three
	> .accordions-wrap
	.wp-block-blockons-accordion
	> .accordion-label {
	background-color: transparent !important;
	border: 2px solid #efefef;
}

/* ---- Design Four ---- */
.wp-block-blockons-accordions.design-four
	> .accordions-wrap
	.wp-block-blockons-accordion
	> .accordion-label {
	background-color: transparent !important;
	border-radius: 0;
	border-left: 4px solid #efefef;
	padding-left: 16px;
}

/* ---- Icon End ---- */
.wp-block-blockons-accordions.icon-end
	> .accordions-wrap
	.wp-block-blockons-accordion
	> .accordion-label
	.accordion-icon {
	margin-right: 0 !important;
}
/* ---- Icon Start ---- */
.wp-block-blockons-accordions.icon-start
	> .accordions-wrap
	.wp-block-blockons-accordion
	> .accordion-label
	.accordion-label-title {
	order: 2;
	flex: 1;
}
.wp-block-blockons-accordions.icon-start.centered
	> .accordions-wrap
	.wp-block-blockons-accordion
	> .accordion-label
	.accordion-label-title {
	flex: none;
}
.wp-block-blockons-accordions.icon-start
	> .accordions-wrap
	.wp-block-blockons-accordion
	> .accordion-label
	.accordion-icon {
	order: 1;
	margin-right: 10px;
}

/* ---- Label Centered ---- */
.wp-block-blockons-accordions.centered
	> .accordions-wrap
	.wp-block-blockons-accordion
	> .accordion-label {
	justify-content: center;
}
/* .wp-block-blockons-accordions.centered
	> .accordions-wrap
	.wp-block-blockons-accordion
	> .accordion-label
	.accordion-label-title {
	flex: none;
} */
.wp-block-blockons-accordions.centered
	> .accordions-wrap
	.wp-block-blockons-accordion
	> .accordion-label
	.accordion-icon {
	margin-right: 0;
	margin-left: 10px;
}
.wp-block-blockons-accordions.icon-start.centered
	> .accordions-wrap
	.wp-block-blockons-accordion
	> .accordion-label
	.accordion-icon {
	margin-right: 10px;
	margin-left: 0;
}

/* -- SINGLE ACCORDION Styling -- */
.wp-block-blockons-accordion {
	margin: 0 0 12px;
}
