/**
 * Note that these styles are loaded *after* common styles, so that
 * editor-specific styles using the same selectors will take precedence.
 */
.blockons-postselect__control {
	margin: 0 0 15px;
}
input.blockons-postselect__input {
	box-shadow: none !important;
}
.no-selected-product,
.loading-product {
	background-color: #fff;
	box-shadow: 0 0 0 1px rgb(0 0 0 / 10%), 0 0 8px rgb(0 0 0 / 12%);
	border-radius: 3px;
	width: 100%;
	font-size: 14px;
	padding: 40px 25px;
	color: #646464;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* ---- React Select Loader ---- */
.blockons-postselect__indicator.blockons-postselect__loading-indicator {
	color: hsl(303deg 100% 82%);
	font-size: 8px;
}
/* ---- Loader CSS ---- */
.blockons-loader {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	z-index: 2;
}
.blockons-loader * {
	box-sizing: border-box;
}
.blockons-loader-sector {
	border-radius: 50%;
	position: absolute;
	width: 100%;
	height: 100%;
	border: 3px solid #b1b5d52b;
	mix-blend-mode: overlay;
}
.blockons-loader-sector-pink {
	animation: rotate 2s ease-out infinite;
	border-top: 3px solid #fa209a;
}
.blockons-loader-sector-blue {
	animation: rotate 2.5s ease-in infinite;
	border-top: 3px solid #6a22a2;
}
.blockons-loader-sector-purple {
	animation: rotate 1.5s ease-in-out infinite;
	border-top: 3px solid #b023a0;
}
@keyframes rotate {
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(360deg);
	}
}

.post-select-wrap {
	position: relative;
}
.post-select-wrap .blockons-loader {
	position: absolute;
	bottom: 7px;
	right: 51px;
	width: 30px;
	height: 30px;
}
