/**
 * The following styles get applied both on the front of your site and in the editor.
 */
.blockons-wc-featured-product-block {
	background-color: #fff;
	box-shadow: 0 0 0 1px rgb(0 0 0 / 10%), 0 0 8px rgb(0 0 0 / 12%);
	border-radius: 3px;
	display: flex;
	align-items: stretch;
	padding: 15px;
	overflow: hidden;
}
.blockons-wc-featured-product-detail {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.blockons-wc-featured-product-detail .blockons-wc-featured-product-title {
	color: inherit;
	line-height: 1;
	margin: 0 0 15px;
	padding: 0;
}
.blockons-wc-featured-product-detail p {
	color: inherit;
	margin: 0 0 15px;
	padding: 0;
}
.blockons-wc-featured-product-detail .blockons-wc-featured-product-price {
	font-weight: bold;
	margin: 0 0 15px;
}
.blockons-wc-featured-product-detail .blockons-wc-featured-product-price ins {
	background: none;
	text-decoration: none;
}
.blockons-wc-featured-product-detail .blockons-wc-featured-product-price del {
	font-size: 0.9em;
	opacity: 0.75;
}
.blockons-wc-featured-product-btn {
	margin: 0;
}
.blockons-wc-featured-product-btn p.woocommerce.add_to_cart_inline {
	margin: 0;
	border: 0 !important;
	padding: 0 !important;
}
.blockons-wc-featured-product-detail
	.blockons-wc-featured-product-btn
	.wc-fproduct-btn,
.blockons-wc-featured-product-detail
	.blockons-wc-featured-product-btn
	.wc-fproduct-button
	a.add_to_cart_button {
	margin: 0;
	padding: 12px 24px;
	font-size: 16px;
	display: inline-block;
	background-color: #af2dbf;
	border-radius: 3px;
	box-shadow: inset 0 0 0 1px rgb(0 0 0 / 20%), 0 1px 6px rgb(0 0 0 / 20%);
	color: #fff;
	letter-spacing: 0.2px;
	line-height: 1.4;
	text-shadow: 0 0 3px rgb(255 255 255 / 10%);
	text-decoration: none;
}
.blockons-wc-featured-product-detail
	.blockons-wc-featured-product-btn
	.wc-fproduct-btn:hover,
.blockons-wc-featured-product-detail
	.blockons-wc-featured-product-btn
	.wc-fproduct-button
	a.add_to_cart_button:hover {
	opacity: 0.8;
}
.blockons-wc-featured-product-detail
	.blockons-wc-featured-product-btn
	.wc-fproduct-button
	a.added_to_cart {
	display: none !important;
}
.blockons-wc-featured-product-image {
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}
.blockons-wc-featured-product-image img {
	visibility: hidden;
	opacity: 0;
	display: block;
	margin: 0;
}

/* -- Layout One -- */
.wp-block-blockons-wc-featured-product.layout-one
	.blockons-wc-featured-product-detail {
	width: 50%;
	order: 1;
	padding: 15px 30px;
	padding-right: 20px !important;
	text-align: left;
}
.wp-block-blockons-wc-featured-product.layout-one
	.blockons-wc-featured-product-image {
	flex: 1;
	order: 2;
}
/* -- Layout Two -- */
.wp-block-blockons-wc-featured-product.layout-two
	.blockons-wc-featured-product-block {
	position: relative;
}
.wp-block-blockons-wc-featured-product.layout-two
	.blockons-wc-featured-product-detail {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	z-index: 8;
	color: #fff;
	text-shadow: 2px 0 6px rgb(255 255 255 / 35%);
}
.wp-block-blockons-wc-featured-product.layout-two
	.blockons-wc-featured-product-detail
	h2 {
	color: #fff;
}
.wp-block-blockons-wc-featured-product.layout-two
	.blockons-wc-featured-product-image {
	height: auto;
	position: relative;
	flex: 1;
}

.wp-block-blockons-wc-featured-product.layout-two .img-overlay {
	background-color: #000;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0.35;
}

/* -- Switch -- */
.blockons-wc-featured-product-block.switch
	.blockons-wc-featured-product-detail {
	order: 2;
}
.blockons-wc-featured-product-block.switch .blockons-wc-featured-product-image {
	order: 1;
}

/* -- Text Align -- */
.wp-block-blockons-wc-featured-product.align-center
	.blockons-wc-featured-product-detail {
	text-align: center;
}
.wp-block-blockons-wc-featured-product.align-right
	.blockons-wc-featured-product-detail {
	text-align: right;
}
/* -- Alignment -- */
.align-center {
	justify-content: center;
}
.align-right {
	justify-content: flex-end;
}
