/**
 * Note that these styles are loaded *after* common styles, so that
 * editor-specific styles using the same selectors will take precedence.
 */
.block-editor-block-list__block.wp-block.wp-block-blockons-tabs {
	background: #fff;
	border: 1px dotted #dad8d8;
	padding: 1em;
}
.block-editor-block-list__block.wp-block.wp-block-blockons-tabs h2 {
	font-size: 1em;
}
.block-editor-block-list__block.wp-block.wp-block-blockons-tabs
	.wp-block-blockons-tab {
	background-color: #dad8d8;
	margin-bottom: 1em;
	padding: 5px;
}
.block-editor-block-list__block.wp-block.wp-block-blockons-tabs
	.block-editor-inner-blocks {
	background-color: #fff;
}
.block-editor-block-list__block.wp-block.wp-block-blockons-tabs
	.block-editor-inner-blocks
	h4 {
	font-size: 0.75em;
}
.block-editor-block-list__block.wp-block.wp-block-blockons-tabs.has-child-selected {
	border: 2px solid red;
}
