/**
 * Note that these styles are loaded *after* common styles, so that
 * editor-specific styles using the same selectors will take precedence.
 */
.wp-block.wp-block-blockons-tabs.load-content
	.blockons-tabs-innerblocks
	.wp-block-blockons-tab {
	display: block;
}
.blockons-inner-tab-label {
	display: none !important;
}
.blockons-tab div {
	margin: 0;
}
.blockons-tab-controls {
	position: absolute;
	bottom: 100%;
	right: 0;
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
}
.blockons-tab:hover .blockons-tab-controls {
	opacity: 1;
}
.wp-block-blockons-tabs.side-layout .blockons-tab-controls {
	bottom: -8px;
	display: flex;
	flex-direction: column;
	right: -24px;
}

.blockons-tab-controls button.components-button {
	padding: 6px;
	font-weight: 700;
	color: #494949;
}
.wp-block-blockons-tabs.side-layout
	.blockons-tab-controls
	button.components-button {
	height: 20px;
}
.blockons-tab-controls button.components-button:not(:disabled):hover {
	color: #b951c8;
}
.blockons-tab-label input.components-text-control__input {
	background: none;
	border: 0;
	min-height: auto;
	padding: 0;
	margin: 0;
	text-align: center;
}
.wp-block-blockons-tabs
	.blockons-tabs-innerblocks.blockons-nbb
	.block-list-appender.wp-block {
	position: relative;
	right: auto;
}
.block-list-appender button.blockons-new-button {
	box-shadow: 0 0 0 1px rgb(0 0 0 / 20%);
	margin: 6px;
	padding: 32px;
	width: 100%;
	justify-content: center;
	background-color: #f1f1f1;
	font-size: 15px;
}
.block-list-appender button.blockons-new-button:hover {
	box-shadow: 0 0 0 1px #2a7ebb;
}
.blockons-tabs .components-button.blockons-new-button {
	background-color: #1e1e1e;
	padding: 8px;
	height: 28px;
	border-top: 1px solid #c2c2c2;
	border-right: 1px solid #c2c2c2;
	border-radius: 0 4px 0 0;
	color: #fff;
	font-size: 20px;
	font-weight: 500;
	line-height: 0;
}
.blockons-tabs.full .components-button.blockons-new-button {
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 4;
	border-radius: 4px;
}
.wp-block-blockons-tabs.side-layout
	.blockons-tabs
	.components-button.blockons-new-button {
	position: absolute;
	right: 0;
	top: 100%;
	border-radius: 4px;
}
@media only screen and (max-width: 768px) {
	.blockons-tabs .components-button.blockons-new-button {
		position: absolute;
		top: 100%;
		right: 0;
		border-radius: 0 !important;
	}
}
