/**
 * Note that these styles are loaded *before* editor styles, so that
 * editor-specific styles using the same selectors will take precedence.
 */
.wp-block-blockons-tabs.top-layout .blockons-tabs {
	display: flex;
	align-items: flex-end;
}
.wp-block-blockons-tabs.top-layout .blockons-tab {
	background-color: #ececec;
	border-radius: 4px 4px 0 0;
	border-bottom: 0;
	margin: 0 -1px 0 0;
	padding: 8px 16px;
}
.wp-block-blockons-tabs .blockons-tab.align-center {
	text-align: center;
}
.wp-block-blockons-tabs .blockons-tab.align-left {
	text-align: left;
}
.wp-block-blockons-tabs .blockons-tab.align-right {
	text-align: right;
}
.blockons-tabs .blockons-tab {
	border: 1px solid rgb(0 0 0 /20%);
	position: relative;
	z-index: 4;
}
.blockons-tabs.full .blockons-tab {
	flex: 1;
}
.wp-block-blockons-tabs .blockons-tab.active {
	background-color: #fff;
	margin: 0 -1px -1px 0;
}
.wp-block-blockons-tabs.top-layout .blockons-tab.active {
	border-bottom: 1px solid #fff;
}
.blockons-tab-label {
	color: inherit;
}

.blockons-tabs-innerblocks {
	border: 1px solid rgb(0 0 0 / 20%);
	padding: 1px 20px;
	margin: 0 -1px 0 0;
}

.blockons-tabs.nobg .blockons-tab.na {
	border: 0 !important;
	background: none !important;
}

/* -- Tabs Side Layout -- */
.wp-block-blockons-tabs.side-layout {
	display: flex;
	align-items: flex-start;
}
.wp-block-blockons-tabs.side-layout .blockons-tabs {
	flex-direction: column;
	width: 250px;
}
.wp-block-blockons-tabs.side-layout .blockons-tab {
	margin: 0 -1px -1px 0;
	border-radius: 0 !important;
}
.wp-block-blockons-tabs.side-layout .blockons-tabs-innerblocks {
	flex: 1;
}

@media only screen and (min-width: 768px) {
}
