/**
 * Note that these styles are loaded *before* editor styles, so that
 * editor-specific styles using the same selectors will take precedence.
 */
html {
	scroll-behavior: smooth;
}
.blockons-toc-title {
	font-size: 1.4em;
	font-weight: bold;
}
.blockons-toc-desc {}
.blockons-toc-ul {
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
}
.blockons-toc-li {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
}
.blockons-toc-item {}
.blockons-toc-number {}
.blockons-toc-number span {}
a.blockons-toc-link {}

/* -- Alignment -- */
.align-center {
}
.align-right {
}

/* -- Style -- */
/* - One - */
/* - Two - */
/* - three - */