/**
 * Loader
 */
.wp-block-blockons-search .blockons-loader {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 25px;
	height: 25px;
	z-index: 2;
}
.wp-block-blockons-search .blockons-loader * {
	box-sizing: border-box;
}
.wp-block-blockons-search .blockons-loader-sector {
	border-radius: 50%;
	position: absolute;
	width: 100%;
	height: 100%;
	border: 2px solid #b1b5d52b;
	mix-blend-mode: overlay;
}
.wp-block-blockons-search .blockons-loader-sector-pink {
	animation: rotate 2s ease-out infinite;
	border-top: 2px solid #8b8b8b;
}
.wp-block-blockons-search .blockons-loader-sector-blue {
	animation: rotate 2.5s ease-in infinite;
	border-top: 2px solid #404040;
}
.wp-block-blockons-search .blockons-loader-sector-purple {
	animation: rotate 1.5s ease-in-out infinite;
	border-top: 2px solid #c6c6c6;
}
@keyframes rotate {
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(360deg);
	}
}

/**
 * Website Page Loader
 */
body.blockons-page-loading {
	overflow: hidden;
}
body.blockons-page-loading::before {
	display: block;
	content: " ";
	background-color: inherit;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: 9998;
}
.blockons-page-loader {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	z-index: 9999;
	opacity: 0;
	transition: opacity 0.4s ease-in-out 0s;
}
body.blockons-free .blockons-pageloader-one .bpl {
	background: none !important;
}
body.blockons-page-loading .blockons-page-loader {
	opacity: 1;
}
body.blockons-page-loading.blockons-page-loaded {
	opacity: 0;
}
.blockons-pageloader-text {
	width: 100%;
	text-align: center;
}
.blockons-pageloader-text.one {
	position: absolute;
	top: 20px;
}
.blockons-pageloader-text.two {
	position: absolute;
	bottom: 20px;
}
.blockons-pageloader-text.three {
	margin: 0 0 20px;
}
.blockons-pageloader-text.four {
	margin: 20px 0 0;
}
.blockons-pageloader-txt {
	font-size: 14px;
	color: #222;
}
.blockons-settings .blockons-page-loader {
	box-shadow: -1px 0 5px rgb(0 0 0 / 20%);
	opacity: 1 !important;
}
.blockons-settings .blockons-page-loader {
	width: 22%;
	left: auto;
}
body.admin-bar .blockons-page-loader {
	top: 32px;
}

/**
 * Back To Top Button
 */
.blockons-bttbtn {
	position: fixed;
	bottom: 12px;
	right: 12px;
	background-color: #fff;
	color: #000;
	box-shadow: 0 1px 5px rgb(0 0 0 / 20%);
	border-radius: 4px;
	width: 45px;
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 22px;
	z-index: 99;
	cursor: pointer;
	opacity: 0;
	transition: opacity 0.4s ease-in-out 0.15s;
	pointer-events: none;
}
.blockons-bttbtn.nobg {
	background: none !important;
	box-shadow: none !important;
}
.blockons-bttbtn:hover {
	filter: brightness(96%);
}
.blockons-bttbtn.right {
	right: 12px;
}
.blockons-bttbtn.left {
	left: 12px;
}
#blockons-bttb.show-btn .blockons-bttbtn,
.blockons-settings .blockons-bttbtn {
	opacity: 1;
	pointer-events: initial;
}
.blockons-settings .blockons-bttbtn {
	z-index: 99991;
}

/* -- Progress Button -- */
.blockons-bttbtn-progress {
	display: flex;
	flex-flow: row;
	margin: 0 auto;
	justify-content: center;
	position: fixed;
	bottom: 12px;
	font-size: 22px;
	z-index: 99;
	cursor: pointer;
}
.blockons-bttbtn-progress:hover {
	filter: brightness(96%);
}
.blockons-bttbtn-progress.right {
	right: 12px;
}
.blockons-bttbtn-progress.left {
	left: 12px;
}
.blockons-bttbtn-progress.completed .progress-bar {
	stroke-dashoffset: 0 !important;
}
.blockons-bttbtn-progress svg {
	position: sticky;
	transform: rotate(-90deg);
}
.blockons-bttbtn-progress svg circle {
	stroke: rgb(0 0 0 / 18%);
	stroke-width: 2px;
	/* stroke-linecap: round; */
	fill: #fff;
}
.blockons-bttbtn-progress.nobg svg circle {
	fill: none !important;
}
.blockons-bttbtn-progress svg .progress-bar {
	transition: stroke-dashoffset 0 ease-in-out;
	stroke: #000;
	stroke-width: 2px;
}
.blockons-bttbtn-progress .pct {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: 0;
	z-index: 4;
	color: inherit;
	transform: translate(-50%, -50%);
	font-feature-settings: "tnum";
	font-variant-numeric: tabular-nums;
}

/* -- Settings Overrides -- */
.blockons-settings .blockons-bttbtn.left,
.blockons-settings .blockons-bttbtn-progress {
	z-index: 9999;
}

/**
 * Scroll Indicator
 */
.blockons-scroll-indicator {
	background: #ccc;
	height: 6px;
}
.blockons-scroll-indicator.nobg {
	background: none !important;
}
.blockons-scroll-indicator {
	position: fixed;
	left: 0;
	right: 0;
	width: 100%;
	z-index: 999;
}
.blockons-scroll-indicator.bottom {
	bottom: 0;
}
.blockons-scroll-indicator.top {
	top: 0;
}
.blockons-scroll-indicator .progressbar {
	height: 6px;
	background: #af2dbf;
	width: 0%;
}
body.admin-bar .blockons-scroll-indicator.top {
	top: 32px;
}
@media only screen and (max-width: 782px) {
	body.admin-bar .blockons-scroll-indicator.top {
		top: 0;
	}
}
/* -- Settings Overrides -- */
body.wp-admin.admin-bar .blockons-settings .blockons-scroll-indicator {
	position: fixed;
	left: 0;
	right: 0;
	width: 100%;
	z-index: 9999;
}
.blockons-settings .blockons-scroll-indicator.top {
	top: 0;
}
.blockons-settings .blockons-scroll-indicator.bottom {
	bottom: 0;
}
body.wp-admin.admin-bar .blockons-settings .blockons-scroll-indicator.top,
body.wp-admin.admin-bar .blockons-settings .blockons-page-loader {
	top: 32px;
}
.blockons-settings .blockons-scroll-indicator {
	z-index: 9999;
}
@media only screen and (max-width: 782px) {
	body.wp-admin.admin-bar .blockons-settings .blockons-scroll-indicator.top,
	body.wp-admin.admin-bar .blockons-settings .blockons-page-loader {
		top: 46px;
	}
}
/**
 * Blockons Inline Tooltip Settings
 */
body.blockons-tooltips .blockons-inline-tooltip {
	border-bottom: 1px solid #000;
	position: relative;
	overflow: hidden;
}
body.blockons-tooltips .blockons-tooltip {
	border-radius: 4px;
	position: absolute;
	bottom: calc(100% + 5px);
	left: -999999999999px;
	width: 180px;
	margin-left: -90px;
	padding: 6px 10px 8px;
	text-align: left;
	opacity: 0;
	transition: opacity 0.2s ease-in-out 0.15s, bottom 0.2s ease-in-out 0.15s,
		left 0.05s ease-in-out 0s;
}
body.blockons-tooltips .blockons-tooltip::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin: 0 0 0 -3px;
	border-width: 6px;
	border-style: solid;
	border-color: #424242 transparent transparent transparent;
}
body.blockons-tooltips .blockons-tooltip-title {
	margin: 0 0 3px;
	padding: 0;
	font-size: 14px;
}
body.blockons-tooltips .blockons-tooltip-text {
	font-size: 12px;
	line-height: 1.52;
	margin: 0;
	padding: 0;
	white-space: normal;
	font-weight: normal;
}
body.blockons-tooltips .blockons-tooltip .blockons-tooltip-text a {
	font-weight: bold;
	border: 0 !important;
}
body.blockons-tooltips .blockons-tooltip .blockons-tooltip-text a:hover {
	text-decoration: underline;
}
body.blockons-tooltips .blockons-inline-tooltip.active {
}
body.blockons-tooltips .blockons-inline-tooltip.active .blockons-tooltip {
	left: 50%;
	opacity: 1;
	bottom: calc(100% + 8px);
}
/* -- Theme One -- */
body.blockons-tooltips .blockons-tooltip.one {
	background-color: #424242;
}
body.blockons-tooltips .blockons-tooltip.one::after {
	border-color: #424242 transparent transparent transparent;
}
body.blockons-tooltips .blockons-tooltip.one .blockons-tooltip-title {
	color: #fff;
}
body.blockons-tooltips .blockons-tooltip.one .blockons-tooltip-text {
	color: #cdcdcd;
}
body.blockons-tooltips .blockons-tooltip.one .blockons-tooltip-text a {
	color: #fff !important;
}
/* -- Theme Two -- */
body.blockons-tooltips .blockons-tooltip.two {
	background-color: #fff;
	box-shadow: 0 2px 12px rgb(0 0 0 / 20%);
}
body.blockons-tooltips .blockons-tooltip.two::after {
	border-color: #fff transparent transparent transparent;
}
body.blockons-tooltips .blockons-tooltip.two .blockons-tooltip-title {
	color: #333;
}
body.blockons-tooltips .blockons-tooltip.two .blockons-tooltip-text {
	color: #222;
}
body.blockons-tooltips .blockons-tooltip.two .blockons-tooltip-text a {
	color: #000 !important;
}
/* -- Styles -- */
body.blockons-tooltips.blstyle-dashed .blockons-inline-tooltip {
	border-bottom: 2px dashed #000;
}
body.blockons-tooltips.blstyle-highlight .blockons-inline-tooltip {
	border: 0;
	position: relative;
}
body.blockons-tooltips.blstyle-highlight .blockons-inline-tooltip::before {
	display: inline-block;
	content: "";
	width: 100%;
	height: 100%;
	opacity: 0.15;
}
/**
 * Image Lightbox Popup
 */
.blockons-venobox {
	position: relative;
}
.blockons-venobox::before {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	z-index: 99;
	border-radius: 4px;
	width: 32px;
	height: 32px;
	font-size: 19px;
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
}
.blockons-venobox:hover::before {
	opacity: 1;
}
.blockons-venobox.dark::before {
	background-color: rgb(0 0 0 / 55%);
	color: #fff;
}
.blockons-venobox.light::before {
	background-color: rgb(255 255 255 / 45%);
	box-shadow: 0 0 6px rgb(0 0 0 / 20%);
	color: #000;
}
.blockons-venobox.topleft::before {
	top: 0;
	left: 0;
}
.blockons-venobox.topright::before {
	top: 0;
	right: 0;
}
.blockons-venobox.bottomleft::before {
	bottom: 0;
	left: 0;
}
.blockons-venobox.bottomright::before {
	bottom: 0;
	right: 0;
}
.blockons-venobox.center::before {
	top: 50%;
	left: 50%;
	margin: -16px 0 0 -16px;
}
/* magnifying glass */
.blockons-venobox.icon-one::before {
	content: "\f002";
}
/* expand */
.blockons-venobox.icon-two::before {
	content: "\f065";
}
/* up right and down left arrow */
.blockons-venobox.icon-three::before {
	content: "\f424";
}
/* maximize */
.blockons-venobox.icon-four::before {
	content: "\f31e";
}
/* plus */
.blockons-venobox.icon-five::before {
	content: "\2b";
}
/* arrows up down left right */
.blockons-venobox.icon-six::before {
	content: "\f047";
}
