/**
 * Loader
 */
.wp-block-blockons-search .blockons-loader {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 25px;
	height: 25px;
	z-index: 2;
}
.wp-block-blockons-search .blockons-loader * {
	box-sizing: border-box;
}
.wp-block-blockons-search .blockons-loader-sector {
	border-radius: 50%;
	position: absolute;
	width: 100%;
	height: 100%;
	border: 2px solid #b1b5d52b;
	mix-blend-mode: overlay;
}
.wp-block-blockons-search .blockons-loader-sector-pink {
	animation: rotate 2s ease-out infinite;
	border-top: 2px solid #8b8b8b;
}
.wp-block-blockons-search .blockons-loader-sector-blue {
	animation: rotate 2.5s ease-in infinite;
	border-top: 2px solid #404040;
}
.wp-block-blockons-search .blockons-loader-sector-purple {
	animation: rotate 1.5s ease-in-out infinite;
	border-top: 2px solid #c6c6c6;
}
@keyframes rotate {
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(360deg);
	}
}

/**
 * Website Page Loader
 */
body.blockons-page-loading {
	overflow: hidden;
}
body.blockons-page-loading::before {
	display: block;
	content: " ";
	background-color: inherit;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: 9998;
}
.blockons-page-loader {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	z-index: 9999;
	opacity: 0;
	transition: opacity 0.4s ease-in-out 0s;
}
body.blockons-page-loading .blockons-page-loader {
	opacity: 1;
}
body.blockons-page-loading.blockons-page-loaded {
	opacity: 0;
}
.blockons-pageloader-text {
	width: 100%;
	text-align: center;
}
.blockons-pageloader-text.one {
	position: absolute;
	top: 20px;
}
.blockons-pageloader-text.two {
	position: absolute;
	bottom: 20px;
}
.blockons-pageloader-text.three {
	margin: 0 0 20px;
}
.blockons-pageloader-text.four {
	margin: 20px 0 0;
}
.blockons-pageloader-txt {
	font-size: 14px;
	color: #222;
}
.blockons-settings .blockons-page-loader {
	box-shadow: -1px 0 5px rgb(0 0 0 / 20%);
	opacity: 1 !important;
}
.blockons-settings .blockons-page-loader {
	width: 22%;
	left: auto;
}
body.admin-bar .blockons-page-loader {
	top: 32px;
}
@media only screen and (max-width: 782px) {
	body.admin-bar .blockons-page-loader {
		top: 46px;
	}
}

/**
 * Back To Top Button
 */
.blockons-bttbtn {
	position: fixed;
	bottom: 12px;
	right: 12px;
	background-color: #fff;
	color: #000;
	box-shadow: 0 1px 5px rgb(0 0 0 / 20%);
	border-radius: 4px;
	width: 45px;
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 22px;
	z-index: 99;
	cursor: pointer;
	opacity: 0;
	transition: opacity 0.4s ease-in-out 0.15s;
	pointer-events: none;
}
.blockons-bttbtn.nobg {
	background: none !important;
	box-shadow: none !important;
}
.blockons-bttbtn:hover {
	filter: brightness(96%);
}
.blockons-bttbtn.right {
	right: 12px;
}
.blockons-bttbtn.left {
	left: 12px;
}
#blockons-bttb.show-btn .blockons-bttbtn,
.blockons-settings .blockons-bttbtn {
	opacity: 1;
	pointer-events: initial;
}

/* -- Progress Button -- */
.blockons-bttbtn-progress {
	display: flex;
	flex-flow: row;
	margin: 0 auto;
	justify-content: center;
	position: fixed;
	bottom: 12px;
	font-size: 22px;
	z-index: 99;
	cursor: pointer;
}
.blockons-bttbtn-progress:hover {
	filter: brightness(96%);
}
.blockons-bttbtn-progress.right {
	right: 12px;
}
.blockons-bttbtn-progress.left {
	left: 12px;
}
.blockons-bttbtn-progress.completed .progress-bar {
	stroke-dashoffset: 0 !important;
}
.blockons-bttbtn-progress svg {
	position: sticky;
	transform: rotate(-90deg);
}
.blockons-bttbtn-progress svg circle {
	stroke: rgb(0 0 0 / 18%);
	stroke-width: 2px;
	/* stroke-linecap: round; */
	fill: #fff;
}
.blockons-bttbtn-progress.nobg svg circle {
	fill: none !important;
}
.blockons-bttbtn-progress svg .progress-bar {
	transition: stroke-dashoffset 0 ease-in-out;
	stroke: #000;
	stroke-width: 2px;
}
.blockons-bttbtn-progress .pct {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: 0;
	z-index: 4;
	color: inherit;
	transform: translate(-50%, -50%);
	font-feature-settings: "tnum";
	font-variant-numeric: tabular-nums;
}

/* -- Settings Overrides -- */
.blockons-settings .blockons-bttbtn.left,
.blockons-settings .blockons-bttbtn-progress.left {
	z-index: 9999;
}

/**
 * Scroll Indicator
 */
.blockons-scroll-indicator {
	background: #ccc;
	height: 6px;
}
.blockons-scroll-indicator.nobg {
	background: none !important;
}
.blockons-scroll-indicator {
	position: fixed;
	left: 0;
	right: 0;
	width: 100%;
	z-index: 999;
}
.blockons-scroll-indicator.bottom {
	bottom: 0;
}
.blockons-scroll-indicator.top {
	top: 0;
}
.blockons-scroll-indicator .progressbar {
	height: 6px;
	background: #af2dbf;
	width: 0%;
}
body.admin-bar .blockons-scroll-indicator.top {
	top: 32px;
}
@media only screen and (max-width: 782px) {
	body.admin-bar .blockons-scroll-indicator.top {
		top: 46px;
	}
}
/* -- Settings Overrides -- */
body.wp-admin.admin-bar .blockons-settings .blockons-scroll-indicator {
	position: fixed;
	left: 0;
	right: 0;
	width: 100%;
	z-index: 9999;
}
.blockons-settings .blockons-scroll-indicator.top {
	top: 0;
}
.blockons-settings .blockons-scroll-indicator.bottom {
	bottom: 0;
}
body.wp-admin.admin-bar .blockons-settings .blockons-scroll-indicator.top,
body.wp-admin.admin-bar .blockons-settings .blockons-page-loader {
	top: 32px;
}
.blockons-settings .blockons-scroll-indicator {
	z-index: 9999;
}
@media only screen and (max-width: 782px) {
	body.wp-admin.admin-bar .blockons-settings .blockons-scroll-indicator.top,
	body.wp-admin.admin-bar .blockons-settings .blockons-page-loader {
		top: 46px;
	}
}

/**
 * Visibility Settings added to all blocks
 */
@media only screen and (min-width: 1100px) {
	.hide-on-desktop {
		display: none !important;
	}
}
@media all and (min-width: 500px) and (max-width: 1100px) {
	.hide-on-tablet {
		display: none !important;
	}
}
@media screen and (max-width: 500px) {
	.hide-on-mobile {
		display: none !important;
	}
}
