/* -- Loader -- */
/* -- Loader -- */
.blockons-loader {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 25px;
	height: 25px;
	z-index: 2;
}
.blockons-loader * {
	box-sizing: border-box;
}
.blockons-loader-sector {
	border-radius: 50%;
	position: absolute;
	width: 100%;
	height: 100%;
	border: 2px solid #b1b5d52b;
	mix-blend-mode: overlay;
}

.blockons-loader-sector-pink {
	animation: rotate 2s ease-out infinite;
	border-top: 2px solid #8b8b8b;
}
.blockons-loader-sector-blue {
	animation: rotate 2.5s ease-in infinite;
	border-top: 2px solid #404040;
}
.blockons-loader-sector-purple {
	animation: rotate 1.5s ease-in-out infinite;
	border-top: 2px solid #c6c6c6;
}
.blockonsSaveBtnLoader {
	width: 56px;
	height: 56px;
	position: relative;
	margin: 0 0 0 10px;
}
@keyframes rotate {
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(360deg);
	}
}
