/**
 * Note that these styles are loaded *before* editor styles, so that
 * editor-specific styles using the same selectors will take precedence.
 */
.wp-block-blockons-image-carousel {
	position: relative;
}
/* ---- Slider ---- */
.wp-block-blockons-image-carousel .swiper-slide {
	text-align: center;
	position: relative;
	box-sizing: border-box;
}
.wp-block-blockons-image-carousel .blockons-slider-img {
	display: flex;
	justify-content: center;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}
.wp-block-blockons-image-carousel .blockons-slider-img img {
	display: block;
	margin: 0 !important;
	max-width: 100%;
	height: auto;
}
.wp-block-blockons-image-carousel .blockons-slider-img.imgfull img {
	width: 100%;
	height: auto;
}
/* -- Caption Positions -- */
.blockons-slider .blockons-caption-inner {
	color: inherit;
	font-size: 14px;
	position: relative;
	z-index: 9;
}
.blockons-slider .blockons-caption-bg {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	opacity: 0.5;
	background-color: rgb(255 255 255 / 92%);
	z-index: 7;
}
/* - Below - */
.blockons-slider.caption-below .blockons-caption-inner {
	padding: 7px 6px 10px;
}
/* - Over - */
.blockons-slider.caption-over .blockons-caption {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
}
.blockons-slider.caption-over .blockons-caption-inner {
	padding: 10px 12px;
}
.blockons-slider.caption-over.caption-hover .swiper-slide .blockons-caption {
	opacity: 0;
	transition: opacity 0.3s ease-in-out 0s;
}
.blockons-slider.caption-over.caption-hover
	.swiper-slide:hover
	.blockons-caption {
	opacity: 1;
}
/* -- Image Aspect Ratios -- */
.wp-block-blockons-image-carousel .aspect-ratio {
	position: relative;
	width: 100%;
}
.wp-block-blockons-image-carousel .aspect-ratio::before {
	content: '';
	display: block;
}
.wp-block-blockons-image-carousel .aspect-ratio .aspect-img {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.wp-block-blockons-image-carousel
	.blockons-slider-img.aspect-ratio
	.aspect-img
	img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
/* 3:2 Aspect Ratio */
.wp-block-blockons-image-carousel .ratio-32rectangle::before {
	padding-top: 66.67%; /* (2 / 3) * 100% */
}
/* 4:3 Aspect Ratio */
.wp-block-blockons-image-carousel .ratio-43rectangle::before {
	padding-top: 75%; /* (3 / 4) * 100% */
}
/* 16:9 Aspect Ratio */
.wp-block-blockons-image-carousel .ratio-169panoramic::before {
	padding-top: 56.25%; /* (9 / 16) * 100% */
}
/* 1:1 Aspect Ratio (Square) */
.wp-block-blockons-image-carousel .ratio-square::before {
	padding-top: 100%; /* (1 / 1) * 100% */
}
.wp-block-blockons-image-carousel .blockons-slider-img.aspect-ratio img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
/* -- Alignment -- */
.wp-block-blockons-image-carousel.align-left .blockons-caption-inner {
	text-align: left;
}
.wp-block-blockons-image-carousel.align-center .blockons-caption-inner {
	text-align: center;
}
.wp-block-blockons-image-carousel.align-right .blockons-caption-inner {
	text-align: right;
}
/* -- Roundness -- */
.blockons-slider.nocaption.bradius-rounded .swiper-slide,
.blockons-slider.caption-none.bradius-rounded .swiper-slide,
.blockons-slider.caption-below.bradius-rounded .blockons-slider-img,
.blockons-slider.caption-over.bradius-rounded .swiper-slide {
	border-radius: 12px;
	overflow: hidden;
}
.blockons-slider.nocaption.bradius-rounder .swiper-slide,
.blockons-slider.caption-none.bradius-rounder .swiper-slide,
.blockons-slider.caption-below.bradius-rounder .blockons-slider-img,
.blockons-slider.caption-over.bradius-rounder .swiper-slide {
	border-radius: 60px;
	overflow: hidden;
}
.blockons-slider.caption-over.bradius-rounder .blockons-caption-inner {
	padding: 8px 25px;
}
.blockons-slider.nocaption.bradius-round .swiper-slide,
.blockons-slider.caption-none.bradius-round .swiper-slide,
.blockons-slider.caption-below.bradius-round .blockons-slider-img,
.blockons-slider.caption-over.bradius-round .swiper-slide {
	border-radius: 120px;
	overflow: hidden;
}
.blockons-slider.caption-over.bradius-rounder .blockons-caption-inner {
	padding: 8px 60px;
}
/* -- Navigation -- */
.wp-block-blockons-image-carousel .swiper-button-prev,
.wp-block-blockons-image-carousel .swiper-button-next {
	background-image: none;
}
.wp-block-blockons-image-carousel
	.blockons-slider.navigation-round
	.swiper-button-prev,
.wp-block-blockons-image-carousel
	.blockons-slider.navigation-round
	.swiper-button-next,
.wp-block-blockons-image-carousel
	.blockons-slider.navigation-rounded
	.swiper-button-prev,
.wp-block-blockons-image-carousel
	.blockons-slider.navigation-rounded
	.swiper-button-next,
.wp-block-blockons-image-carousel
	.blockons-slider.navigation-square
	.swiper-button-prev,
.wp-block-blockons-image-carousel
	.blockons-slider.navigation-square
	.swiper-button-next {
	box-shadow:
		0 1px 4px rgb(0 0 0 / 14%),
		inset 0 0 0 1px rgb(0 0 0 / 18%);
	width: 46px;
	height: 46px;
	margin-top: -23px;
}
.wp-block-blockons-image-carousel
	.blockons-slider.navigation-round
	.swiper-button-prev,
.wp-block-blockons-image-carousel
	.blockons-slider.navigation-round
	.swiper-button-next {
	border-radius: 50px;
}
.wp-block-blockons-image-carousel
	.blockons-slider.navigation-rounded
	.swiper-button-prev,
.wp-block-blockons-image-carousel
	.blockons-slider.navigation-rounded
	.swiper-button-next {
	border-radius: 8px;
}

.wp-block-blockons-image-carousel
	.blockons-slider.navigation-dark
	.swiper-button-prev,
.wp-block-blockons-image-carousel
	.blockons-slider.navigation-dark
	.swiper-button-next {
	color: #222;
}
.wp-block-blockons-image-carousel
	.blockons-slider.navigation-light
	.swiper-button-prev,
.wp-block-blockons-image-carousel
	.blockons-slider.navigation-light
	.swiper-button-next {
	color: #fff;
}
.wp-block-blockons-image-carousel
	.blockons-slider.navigation-dark.navigation-round
	.swiper-button-prev,
.wp-block-blockons-image-carousel
	.blockons-slider.navigation-dark.navigation-round
	.swiper-button-next,
.wp-block-blockons-image-carousel
	.blockons-slider.navigation-dark.navigation-rounded
	.swiper-button-prev,
.wp-block-blockons-image-carousel
	.blockons-slider.navigation-dark.navigation-rounded
	.swiper-button-next,
.wp-block-blockons-image-carousel
	.blockons-slider.navigation-dark.navigation-square
	.swiper-button-prev,
.wp-block-blockons-image-carousel
	.blockons-slider.navigation-dark.navigation-square
	.swiper-button-next {
	background-color: #222;
	color: #fff;
}
.wp-block-blockons-image-carousel
	.blockons-slider.navigation-light.navigation-round
	.swiper-button-prev,
.wp-block-blockons-image-carousel
	.blockons-slider.navigation-light.navigation-round
	.swiper-button-next,
.wp-block-blockons-image-carousel
	.blockons-slider.navigation-light.navigation-rounded
	.swiper-button-prev,
.wp-block-blockons-image-carousel
	.blockons-slider.navigation-light.navigation-rounded
	.swiper-button-next,
.wp-block-blockons-image-carousel
	.blockons-slider.navigation-light.navigation-square
	.swiper-button-prev,
.wp-block-blockons-image-carousel
	.blockons-slider.navigation-light.navigation-square
	.swiper-button-next {
	background-color: #fff;
	color: #222;
}
.wp-block-blockons-image-carousel
	.blockons-slider.default-icon.navigation-round
	.swiper-button-prev::after,
.wp-block-blockons-image-carousel
	.blockons-slider.default-icon.navigation-round
	.swiper-button-next::after,
.wp-block-blockons-image-carousel
	.blockons-slider.default-icon.navigation-rounded
	.swiper-button-prev::after,
.wp-block-blockons-image-carousel
	.blockons-slider.default-icon.navigation-rounded
	.swiper-button-next::after,
.wp-block-blockons-image-carousel
	.blockons-slider.default-icon.navigation-square
	.swiper-button-prev::after,
.wp-block-blockons-image-carousel
	.blockons-slider.default-icon.navigation-square
	.swiper-button-next::after {
	font-size: 30px;
}
/* - Arrows - */
.wp-block-blockons-image-carousel
	.blockons-slider.custom-icon
	.swiper-button-prev::after,
.wp-block-blockons-image-carousel
	.blockons-slider.custom-icon
	.swiper-button-next::after {
	font-family: 'Font Awesome 6 Free';
	font-weight: 900;
	font-size: 32px;
}
/* - Font Awesome Overrides - */
.wp-block-blockons-image-carousel
	.blockons-slider.custom-icon.arrows-arrow-right
	.swiper-button-prev::after {
	content: '\f060';
}
.wp-block-blockons-image-carousel
	.blockons-slider.custom-icon.arrows-arrow-right
	.swiper-button-next::after {
	content: '\f061';
}
.wp-block-blockons-image-carousel
	.blockons-slider.custom-icon.arrows-arrow-right-long
	.swiper-button-prev::after {
	content: '\f177';
}
.wp-block-blockons-image-carousel
	.blockons-slider.custom-icon.arrows-arrow-right-long
	.swiper-button-next::after {
	content: '\f178';
}
.wp-block-blockons-image-carousel
	.blockons-slider.custom-icon.arrows-angle-right
	.swiper-button-prev::after {
	content: '\f104';
}
.wp-block-blockons-image-carousel
	.blockons-slider.custom-icon.arrows-angle-right
	.swiper-button-next::after {
	content: '\f105';
}
.wp-block-blockons-image-carousel
	.blockons-slider.custom-icon.arrows-caret-right
	.swiper-button-prev::after {
	content: '\f0d9';
}
.wp-block-blockons-image-carousel
	.blockons-slider.custom-icon.arrows-caret-right
	.swiper-button-next::after {
	content: '\f0da';
}
.wp-block-blockons-image-carousel
	.blockons-slider.custom-icon.arrows-angles-right
	.swiper-button-prev::after {
	content: '\f100';
}
.wp-block-blockons-image-carousel
	.blockons-slider.custom-icon.arrows-angles-right
	.swiper-button-next::after {
	content: '\f101';
}
/* -- Pagination -- */
.wp-block-blockons-image-carousel .blockons-slider .swiper-pagination {
	position: relative;
	bottom: auto;
	padding: 5px 0 0;
	line-height: 1.2;
}
.wp-block-blockons-image-carousel
	.blockons-slider
	.swiper-pagination.swiper-pagination-bullets-dynamic {
	padding: 8px 0 0;
}
.wp-block-blockons-image-carousel
	.blockons-slider.pagination-dark
	.swiper-pagination
	.swiper-pagination-bullet.swiper-pagination-bullet-active {
	background-color: #222;
}
.wp-block-blockons-image-carousel
	.blockons-slider.pagination-light
	.swiper-pagination
	.swiper-pagination-bullet.swiper-pagination-bullet-active {
	background-color: #fff;
	box-shadow: 0 0 0 1px #c6c6c6;
	color: #111;
}
.wp-block-blockons-image-carousel .blockons-slider.pagination-numbers {
	counter-reset: blockons-slider-counter;
}
.wp-block-blockons-image-carousel
	.blockons-slider.pagination-numbers
	.swiper-pagination-bullet {
	color: #fff;
	font-size: 11px;
	font-weight: 600;
	width: 16px;
	height: 16px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}
.wp-block-blockons-image-carousel
	.blockons-slider.pagination-numbers
	.swiper-pagination-bullet::before {
	counter-increment: blockons-slider-counter;
	content: counter(blockons-slider-counter);
}

.wp-block-blockons-image-carousel
	.blockons-slider.controlsOnHover
	.swiper-button-prev,
.wp-block-blockons-image-carousel
	.blockons-slider.controlsOnHover
	.swiper-button-next,
.wp-block-blockons-image-carousel
	.blockons-slider.controlsOnHover
	.swiper-pagination {
	opacity: 0;
	transition: opacity 0.3s ease-in-out 0s;
}
.wp-block-blockons-image-carousel
	.blockons-slider.controlsOnHover:hover
	.swiper-button-prev,
.wp-block-blockons-image-carousel
	.blockons-slider.controlsOnHover:hover
	.swiper-button-next,
.wp-block-blockons-image-carousel
	.blockons-slider.controlsOnHover:hover
	.swiper-pagination {
	opacity: 1;
}
