/**
 * Note that these styles are loaded *after* common styles, so that
 * editor-specific styles using the same selectors will take precedence.
 */

/* -- To show the dropdown within the editor -- */
.wp-block-blockons-search.blockons-show .blockons-search-block {
	overflow: visible;
}
.wp-block-blockons-search.blockons-show .blockons-search-dropdown,
.wp-block-blockons-search.blockons-show .blockons-search-popup-overlay,
.wp-block-blockons-search.blockons-show .blockons-search-popup-wrapper {
	visibility: visible;
	opacity: 1;
}
.blockons-search-input {
	color: #939393 !important;
}
.blockons-search-inner.noph .blockons-search-input.rich-text {
	color: transparent !important;
	font-size: 0 !important;
}

/* -- Premium Block -- */
#blockons-search-results-wrap {
	background-color: #fff;
	box-shadow: 0 1px 8px rgb(0 0 0 / 14%);
	border-radius: 0 0 3px 3px;
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	padding: 15px;
	z-index: 999;
	max-height: 400px;
	overflow-y: scroll;
}
