/**
 * Note that these styles are loaded *before* editor styles, so that
 * editor-specific styles using the same selectors will take precedence.
 */
.wp-block-blockons-search {
	display: flex;
}
.blockons-search-block {
	border-radius: 3px;
	color: #000;
	background-color: #fff;
	font-size: 20px;
	padding: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	position: relative;
	overflow: hidden;
}
.blockons-search-block:hover {
	overflow: visible;
}
.nopad {
	padding: 0 !important;
}
/* -- Default Style -- */
.blockons-search-default .blockons-search-inner {
	max-width: 100%;
	width: 240px;
	display: flex;
	align-items: stretch;
	min-height: 40px;
	color: inherit;
}
.blockons-search-default .blockons-search-input {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: 5px 10px;
	font-size: 15px;
	color: inherit;
}
.blockons-search-default .blockons-search-button {
	border: 0;
	width: auto;
	font-size: 15px;
	display: flex;
	align-items: center;
	background-color: #000;
	color: #fff;
	padding: 2px 14px;
	font-weight: 600;
	cursor: pointer;
}
/* -- Drop Down Style -- */
.blockons-search-block .blockons-search-dropdown {
	position: absolute;
	background-color: #fff;
	border-radius: 3px;
	box-shadow: 0 2px 8px rgb(0 0 0 / 20%);
	color: inherit;
	z-index: 95;
	overflow: hidden;
	opacity: 0;
	transition: all 0.1s ease-in-out 0s;
}
/* -- Position -- */
.blockons-search-block.bottomright .blockons-search-dropdown {
	top: 100%;
	left: 0;
}
.blockons-search-block.bottomleft .blockons-search-dropdown {
	top: 100%;
	right: 0;
}
.blockons-search-block.bottomcenter .blockons-search-dropdown {
	top: 100%;
	left: 50%;
	margin-left: -120px;
}
.blockons-search-block.topright .blockons-search-dropdown {
	bottom: 100%;
	left: 0;
}
.blockons-search-block.topleft .blockons-search-dropdown {
	bottom: 100%;
	right: 0;
}
.blockons-search-block.topcenter .blockons-search-dropdown {
	bottom: 100%;
	left: 50%;
	margin-left: -120px;
}

.blockons-search-dropdown .blockons-search-inner {
	max-width: 100%;
	width: 240px;
	display: flex;
	align-items: stretch;
	min-height: 40px;
	color: inherit;
}
.blockons-search-dropdown .blockons-search-input {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: 5px 10px;
	font-size: 15px;
	color: inherit;
}
.blockons-search-dropdown .blockons-search-button {
	border: 0;
	width: auto;
	font-size: 15px;
	display: flex;
	align-items: center;
	background-color: #000;
	color: #fff;
	padding: 2px 14px;
	font-weight: 600;
	cursor: pointer;
}

.blockons-search-block:hover .blockons-search-dropdown {
	visibility: visible;
	opacity: 1;
}

/* -- Popup Style -- */
.blockons-search-popup-overlay {
	background-color: rgb(0 0 0 / 35%);
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 97;
	visibility: hidden;
	opacity: 0;
	transition: all 0.2s ease-in-out 0s;
}
.blockons-search-popup-wrapper {
	position: fixed;
	top: 50%;
	width: 100%;
	max-width: 820px;
	margin: -80px 0 0;
	z-index: 98;
	padding: 30px;
	visibility: hidden;
	opacity: 0;
	transition: all 0.2s ease-in-out 0s;
}
.blockons-search-popup {
	background-color: #fff;
	border-radius: 3px;
	box-shadow: 0 2px 8px rgb(0 0 0 / 20%);
	padding: inherit;
	position: relative;
}
.blockons-close {
	position: absolute;
	top: -25px;
	right: 2px;
	font-size: 15px;
	color: #fff;
	padding: 5px;
	cursor: pointer;
}
.blockons-search-popup .blockons-search-inner {
	max-width: 100%;
	width: 100%;
	display: flex;
	align-items: stretch;
	min-height: 40px;
	color: inherit;
	box-shadow: 0 2px 8px rgb(0 0 0 / 20%);
	border-radius: 3px;
	overflow: hidden;
}
.blockons-search-popup .blockons-search-input {
	background-color: #fff;
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: 5px 10px;
	font-size: 15px;
	color: inherit;
}
.blockons-search-popup .blockons-search-button {
	border: 0;
	width: auto;
	font-size: 15px;
	display: flex;
	align-items: center;
	background-color: #000;
	color: #fff;
	padding: 2px 14px;
	font-weight: 600;
	cursor: pointer;
}

.wp-block-blockons-search.blockons-show .blockons-search-popup-overlay,
.wp-block-blockons-search.blockons-show .blockons-search-popup-wrapper {
	visibility: visible;
	opacity: 1;
}

/* -- Alignment -- */
.align-center {
	justify-content: center;
}
.align-right {
	justify-content: flex-end;
}
