/**
 * Note that these styles are loaded *before* editor styles, so that
 * editor-specific styles using the same selectors will take precedence.
 */
.wp-block-blockons-search.icon-search {
	display: flex;
}
.blockons-search-block {
	border-radius: 3px;
	color: #000;
	background-color: #fff;
	font-size: 20px;
	padding: 15px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	position: relative;
	z-index: 4;
}
.nopad {
	padding: 0 !important;
}
/* -- Default Style -- */
.blockons-search-default {
	overflow: hidden;
	min-width: 200px;
	position: relative;
}
.blockons-search-block .blockons-search-default:hover,
.blockons-search-block.search-on .blockons-search-default {
	overflow: visible;
}
.blockons-search-default .blockons-search-inner {
	width: 100%;
	display: flex;
	align-items: stretch;
	min-height: 40px;
	color: inherit;
}
.blockons-search-default .blockons-search-input {
	box-shadow: inset 0 0 0 1px #999;
	border-radius: 3px 0 0 3px;
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: 5px 10px;
	font-size: 15px;
	color: inherit;
}
.blockons-search-default .blockons-search-button {
	border: 0;
	width: auto;
	font-size: 15px;
	display: flex;
	align-items: center;
	background-color: #000;
	color: #fff;
	padding: 2px 14px;
	font-weight: 600;
	cursor: pointer;
}
/* -- Drop Down Style -- */
.blockons-search-block .blockons-search-dropdown {
	position: absolute;
	z-index: 98;
	opacity: 0;
	transition: all 0.1s ease-in-out 0s;
}
.blockons-search-dropdown .blockons-search-inner {
	width: 100%;
	display: flex;
	align-items: stretch;
	min-height: 40px;
	background-color: #fff;
	border-radius: 3px;
	box-shadow: 0 2px 8px rgb(0 0 0 / 20%);
	color: inherit;
	z-index: 95;
	overflow: hidden;
}
.blockons-search-dropdown .blockons-search-input {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: 5px 10px;
	font-size: 15px;
	color: inherit;
}
.blockons-search-dropdown .blockons-search-button {
	border: 0;
	width: auto;
	font-size: 15px;
	display: flex;
	align-items: center;
	background-color: #000;
	color: #fff;
	padding: 2px 14px;
	font-weight: 600;
	cursor: pointer;
}

/* -- Position -- */
.blockons-search-block.bottomright .blockons-search-dropdown {
	top: 100%;
	left: 0;
	padding-top: 5px;
}
.blockons-search-block.bottomleft .blockons-search-dropdown {
	top: 100%;
	right: 0;
	padding-top: 5px;
}
.blockons-search-block.bottomcenter .blockons-search-dropdown {
	top: 100%;
	left: 50%;
	margin-left: -120px;
	padding-top: 5px;
}
.blockons-search-block.topright .blockons-search-dropdown {
	bottom: 100%;
	left: 0;
	padding-bottom: 5px;
}
.blockons-search-block.topleft .blockons-search-dropdown {
	bottom: 100%;
	right: 0;
	padding-bottom: 5px;
}
.blockons-search-block.topcenter .blockons-search-dropdown {
	bottom: 100%;
	left: 50%;
	margin-left: -120px;
	padding-bottom: 5px;
}
.blockons-search-block.left .blockons-search-dropdown {
	top: calc(50% - 20px);
	right: 100%;
	padding-right: 5px;
}
.blockons-search-block.right .blockons-search-dropdown {
	top: calc(50% - 20px);
	left: 100%;
	padding-left: 5px;
}

.blockons-search-block:hover .blockons-search-dropdown,
.blockons-search-block.dropdown.search-on .blockons-search-dropdown {
	visibility: visible;
	opacity: 1;
}

/* -- Popup Style -- */
.blockons-search-popup-overlay {
	background-color: rgb(0 0 0 / 35%);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 99;
	visibility: hidden;
	opacity: 0;
	transition: all 0.2s ease-in-out 0s;
}
.blockons-search-popup-wrapper {
	position: fixed;
	visibility: hidden;
	margin: 0;
	padding: 30px;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 101;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
	transition: all 0.2s ease-in-out 0s;
	pointer-events: none;
}
.blockons-search-popup {
	background-color: #fff;
	border-radius: 3px;
	box-shadow: 0 2px 8px rgb(0 0 0 / 20%);
	padding: inherit;
	position: relative;
	width: 100%;
	max-width: 94%;
	min-width: 280px;
	pointer-events: auto;
}
.blockons-close {
	position: absolute;
	top: -25px;
	right: 2px;
	font-size: 15px;
	color: #fff;
	padding: 5px;
	cursor: pointer;
}
.blockons-search-popup .blockons-search-inner {
	max-width: 100%;
	width: 100%;
	display: flex;
	align-items: stretch;
	min-height: 40px;
	color: inherit;
	box-shadow: 0 2px 8px rgb(0 0 0 / 20%);
	border-radius: 3px;
	overflow: hidden;
}
.blockons-search-popup .blockons-search-input {
	background-color: #fff;
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: 5px 10px;
	font-size: 15px;
	color: inherit;
}
.blockons-search-popup .blockons-search-button {
	border: 0;
	width: auto;
	font-size: 15px;
	display: flex;
	align-items: center;
	background-color: #000;
	color: #fff;
	padding: 2px 14px;
	font-weight: 600;
	cursor: pointer;
}

.wp-block-blockons-search.blockons-show .blockons-search-popup-overlay,
.wp-block-blockons-search.blockons-show .blockons-search-popup-wrapper {
	visibility: visible;
	opacity: 1;
}

/* -- Alignment -- */
.wp-block-blockons-search.align-center.default-search .blockons-search-block,
.wp-block-blockons-search.align-center.icon-search {
	justify-content: center;
}
.wp-block-blockons-search.align-right.default-search .blockons-search-block,
.wp-block-blockons-search.align-right.icon-search {
	justify-content: flex-end;
}

/* -- PREMIUM Styling -- */
.blockons-search-results-wrap {
	position: relative;
}
.blockons-search-results-block {
	background-color: #fff;
	box-shadow: 0 1px 8px rgb(0 0 0 / 14%);
	border-radius: 0 0 3px 3px;
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	z-index: 999;
}
.blockons-search-results-block.no-results,
.blockons-search-results-block.loading {
	border-radius: 0 0 3px 3px;
	padding: 15px;
	text-align: center;
	font-size: 15px;
	color: #999;
	display: flex;
	justify-content: center;
}
.blockons-tresult {
	display: block;
	font-size: 13px;
	text-decoration: none;
	font-weight: 600;
	color: #000;
	padding: 2px 8px;
	transition: background-color 0.2s ease-in-out 0s;
}
.blockons-tresult:hover {
	background-color: #f0f0f0;
}
.blockons-sresult {
	display: flex;
	align-items: center;
	text-decoration: none;
	padding: 5px 8px;
	transition: background-color 0.2s ease-in-out 0s;
}
.blockons-sresult:hover {
	background-color: #f0f0f0;
}
.blockons-search-results {
	max-height: 290px;
	overflow-y: scroll;
}
.blockons-sresult-catags {
	padding: 5px 0 10px;
	font-size: 13px;
}
.blockons-sresult-head {
	box-shadow: 0 1px 0 rgb(0 0 0 / 12%);
	font-size: 11px;
	margin: 0 0 5px;
	padding: 5px 8px 2px;
	text-transform: uppercase;
	font-weight: 500;
}
.blockons-sresult:last-child {
	box-shadow: none;
}
.blockons-sresult-left {
	width: 50px;
	flex: none;
}
.blockons-sresult-left img {
	display: block;
	width: 100%;
	height: auto;
	padding: 0 8px 0 0;
}
.blockons-sresult-center {
	flex: 1;
	padding: 0 8px 0 0;
	display: flex;
	flex-direction: column;
	width: calc(100% - 140px);
}
.blockons-sresult-right {
	font-size: 11px;
	padding: 0 0 0 8px;
	text-align: right;
	white-space: nowrap;
	color: #000;
}
.blockons-sresult-right del {
	font-size: 0.9em;
	opacity: 0.55;
}
.blockons-sresult-title {
	margin: 0 0 3px;
	padding: 0;
	font-size: 13px;
	font-weight: 500;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	color: #000;
}
.blockons-sresult-desc {
	margin: 0;
	padding: 0;
	font-size: 12px;
	flex: 1;
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	color: #999;
}
.blockons-search-more {
	box-shadow: inset 0 1px 0 rgb(0 0 0 / 12%);
	font-size: 11px;
	text-align: center;
	text-transform: uppercase;
	font-weight: 500;
	padding: 5px 2px 6px;
	line-height: 1;
}
