/**
 * Note that these styles are loaded *after* common styles, so that
 * editor-specific styles using the same selectors will take precedence.
 */
.blockons-image-carousel-slider:hover .blockons-imgcarousel-wrap {
	box-shadow: 0 0 0 1px rgb(0 0 0 / 16%);
}

.blockons-icon-text-select {
	display: flex;
	align-items: center;
	margin-bottom: 24px;
}
.blockons-icon-text-select p {
	margin: 0 0 0 12px;
}
.blockons-icon-text-select .blockons-icon-selecter {
	padding: 5px;
	cursor: pointer;
}
.blockons-icon-text-select:hover .blockons-icon-selecter {
	box-shadow: 0 0 0 1px rgb(0 0 0 / 16%);
}

/* -- Image Button -- */
.blockons-upload-button {
}
.blockons-upload-remove {
	background-color: #fff;
	position: absolute;
	border-radius: 20px;
	top: -22px;
	right: -10px;
	box-shadow: 0 0 0 1px #000;
	font-size: 12px !important;
	padding: 0 !important;
	width: 18px;
	height: 18px;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
	transition: opacity 0.3s ease-in-out 0.2s;
}
.blockons-imgcarousel-wrap:hover
	.blockons-slide-author
	span.blockons-fontawesome.fa-user::before {
	content: "\f093";
}
/* -- Item Level Controls -- */
.blockons-item-btns {
	display: flex;
	align-items: stretch;
	position: absolute;
	top: 0;
	right: 0;
	opacity: 0;
	transition: opacity 0.3s ease-in-out 0s;
}
.blockons-imgcarousel-wrap .splide__slide:hover .blockons-item-btns,
.blockons-imgcarousel-wrap:hover .blockons-upload-remove {
	opacity: 1;
}

/* -- Item level controls popup box -- */
.blockons-editor-popup .components-popover__content {
	width: 274px;
}
.blockons-editor-popup.arrow-selector .components-popover__content {
	width: 185px;
}
.blockons-editor-popup .components-popover__content > div {
	display: flex;
	flex-wrap: wrap;
}
.blockons-editor-popup .components-popover__content .blockons-fontawesome {
	width: 32px;
	height: 32px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.blockons-editor-popup
	.components-popover__content
	.blockons-fontawesome:hover {
	box-shadow: 0 0 0 1px rgb(0 0 0 / 16%);
}
/* -- Make editor controls span full with of popup box -- */
.blockons-editor-popup .components-popover__content > div > div {
	width: 100%;
}
.blockons-add-new {
	margin: 15px 0 0;
}

/* -- Blockons Color Picker -- */
.components-dropdown.blockons-colorpicker {
	width: 100%;
	margin: 0 0 15px;
}
.components-button.blockons-colorpicker-btn {
	box-shadow: 0 0 0 1px #e0e0e0;
	padding: 14px 12px;
	width: 100%;
	text-decoration: none;
	color: #545454;
}
.components-button.blockons-colorpicker-btn .component-color-indicator {
	margin: 0 10px 0 0;
}
.components-button.blockons-colorpicker-btn:hover {
	box-shadow: 0 0 0 1px #b9b9b9;
}
