/**
 * Note that these styles are loaded *after* common styles, so that
 * editor-specific styles using the same selectors will take precedence.
 */
.wp-block-blockons-slider {
	box-shadow: 0 0 0 1px rgb(0 0 0 / 20%);
	position: relative;
}
.blockons-section-title {
	font-size: 14px;
	font-weight: 600;
	color: #555;
	margin: 0 0 10px;
}
.blockons-link-component .block-editor-link-control__field {
	margin: 16px 0;
}
.blockons-link-component .block-editor-link-control__tools {
	padding: 16px 0;
}
.blockons-link-component
	.components-popover__content
	.block-editor-link-control {
	width: 100%;
}
.blockons-link-component
	.components-popover__content
	.block-editor-link-control
	.block-editor-link-control__search-actions {
	right: 3px;
}
.blockons-editor-popup.blockons-new-slide .components-popover__content {
	overflow: visible !important;
}
.blockons-editor-popup.blockons-new-slide
	.components-popover__content
	.blockons-postselect__control {
	margin: 0;
}
.blockons-editor-popup.blockons-new-slide .components-button {
	width: 100%;
	border-radius: 4px;
	margin: 10px 0 0;
	padding: 12px;
	box-shadow: inset 0 0 0 1px #ccc;
	height: auto;
	color: #222;
}
.loading-product-slide {
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100px;
}
.loading-product-slide p {
	font-size: 11px;
	text-align: center;
	margin-top: 2px;
}
.loading-product-slide .blockons-loader {
	width: 40px !important;
	height: 40px;
}
/* -- Slide Settings -- */
.blockons-slider-btns {
	position: absolute;
	top: 5px;
	right: 5px;
	z-index: 20;
}
.wp-block-blockons-slider .blockons-slider-btns .blockons-sliderimg-button {
	position: absolute;
	right: 100%;
	margin-right: 8px;
}
.wp-block-blockons-slider
	.blockons-slider-inner
	.slider-btns
	.block-editor-inner-blocks
	.block-editor-block-list__layout {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}
.wp-block-blockons-slider .slider-btns .block-editor-button-block-appender {
	box-shadow: inset 0 0 0 1px #999;
	padding: 0;
	color: #999;
}
.wp-block-blockons-slider
	.slider-btns
	.block-editor-button-block-appender:hover {
	color: #fff;
}
/* -- Settings Popup -- */
.blockons-icon-select {
	display: flex;
	align-items: center;
}
.blockons-icon-select p {
	margin: 0 0 0 10px;
}
.blockons-editor-popup.icon-selector .components-popover__content {
	display: flex;
	flex-wrap: wrap;
	width: 145px;
}
/* -- Settings Need Reload -- */
.blockons-slider-reload {
	background-color: #f0f0f0;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 45;
}
.blockons-slider-reload-inner {
	background-color: #fff;
	box-shadow: 0 1px 5px rgb(0 0 0 / 14%);
	border-radius: 4px;
	padding: 12px 15px;
	font-size: 13px;
	color: #000;
	text-align: center;
	max-width: 300px;
}
