/**
 * Note that these styles are loaded *after* common styles, so that
 * editor-specific styles using the same selectors will take precedence.
 */
.blockons-list-wrap li.blockons-list-item {
	box-shadow: none;
	border-radius: 3px;
	transition: box-shadow 0.3s ease-in-out 0s;
}
.blockons-list-wrap li.blockons-list-item:hover {
	box-shadow: 0 0 0 1px rgb(0 0 0 / 8%);
}
.blockons-list-wrap li.blockons-list-item .blockons-list-item-icon:hover {
	box-shadow: 0 0 0 1px #297cba;
	cursor: pointer;
}

/* -- Item Level Controls -- */
.wp-block-blockons-icon-list .blockons-item-btns {
	display: flex;
	align-items: stretch;
	position: absolute;
	top: -4px;
	right: 0;
	opacity: 0;
	transition: opacity 0.3s ease-in-out 0s;
}
.wp-block-blockons-icon-list.items-horizontal .blockons-item-btns {
	top: auto;
	bottom: 100%;
}
.blockons-list-wrap li.blockons-list-item:hover .blockons-item-btns {
	opacity: 1;
}
.blockons-list-wrap li.blockons-list-item .blockons-item-btns button {
	height: auto;
	padding: 5px;
}
.blockons-list-wrap li.blockons-list-item .blockons-item-btns > div {
	height: auto;
	display: inline-flex;
}

/* .wp-block-blockons-icon-list.align-center .blockons-item-btns */
.wp-block-blockons-icon-list.align-right .blockons-item-btns {
	right: auto;
	left: 0;
}

/* -- Controls -- */
/* -- Item level controls popup box -- */
.blockons-editor-popup.blockons-icon-selecter .components-popover__content {
	width: 274px;
	display: flex;
	flex-wrap: wrap;
}
.blockons-editor-popup.icon-list
	.components-popover__content
	span.blockons-fontawesome {
	width: 29px;
	height: 32px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.blockons-editor-popup
	.components-popover__content
	.blockons-fontawesome:hover {
	box-shadow: 0 0 0 1px rgb(0 0 0 / 16%);
}
/* -- Make editor controls span full with of popup box -- */
.blockons-editor-popup .components-popover__content > div > div {
	width: 100%;
}

.blockons-add-new {
	margin: 15px 0 0;
}
