/**
 * Note that these styles are loaded *before* editor styles, so that
 * editor-specific styles using the same selectors will take precedence.
 */
.blockons-list-wrap {
	margin: 0;
	padding: 0;
}
.blockons-list-wrap li.blockons-list-item {
	margin: 0 0 3px;
	padding: 0;
	list-style-type: none;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.blockons-list-item-icon {
	margin: 0 5px 0 0;
	padding: 2px 5px;
	font-size: 18px;
}
.blockons-list-item-text {
	font-size: inherit;
}

/* -- Alignment -- */
.wp-block-blockons-icon-list.align-center li.blockons-list-item {
	justify-content: center;
}
.wp-block-blockons-icon-list.align-right li.blockons-list-item {
	justify-content: flex-end;
}
