/**
 * Note that these styles are loaded *after* common styles, so that
 * editor-specific styles using the same selectors will take precedence.
 */

/* -- To show the dropdown within the editor -- */
.blockons-wc-mini-cart-block.show .blockons-wc-mini-cart-dropdown {
	visibility: visible;
	opacity: 1;
}
.blockons-wc-mini-cart-inner {
	width: 300px;
	padding: 20px;
	font-size: 13px;
	line-height: 1.5em;
	text-align: center;
}
