/**
 * Note that these styles are loaded *before* editor styles, so that
 * editor-specific styles using the same selectors will take precedence.
 */
.wp-block-blockons-wc-mini-cart {
	display: flex;
}
.blockons-wc-mini-cart-block {
	border-radius: 3px;
	color: #000;
	background-color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}
.blockons-wc-mini-cart-block-icon {
	width: auto;
	padding: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 17px;
	text-decoration: none !important;
	cursor: pointer;
}
.blockons-wc-mini-cart-block-icon .icon {
	margin: 0 10px 0 0;
}
.blockons-wc-mini-cart-block-icon .amount {
	margin: 0 6px 0 0;
}
.blockons-wc-mini-cart-block-icon .blockons-cart-amnt {
	font-size: 0.92em;
	color: inherit;
	text-decoration: none;
	display: flex;
}

.blockons-wc-mini-cart-dropdown {
	color: inherit;
	position: absolute;
	background-color: #fff;
	border-radius: 3px;
	box-shadow: 0 2px 8px rgb(0 0 0 / 20%);
	z-index: 95;
	opacity: 0;
	visibility: hidden;
	transition: all 0.2s ease-in-out 0.15s;
}
/* -- Drop Down Position -- */
.blockons-wc-mini-cart-block.bottom-left .blockons-wc-mini-cart-dropdown {
	right: 0;
	top: calc(100% + 2px);
}
.blockons-wc-mini-cart-block.bottom-center .blockons-wc-mini-cart-dropdown {
	right: calc(50% - 150px);
	top: calc(100% + 2px);
}
.blockons-wc-mini-cart-block.bottom-right .blockons-wc-mini-cart-dropdown {
	left: 0;
	top: calc(100% + 2px);
}
.blockons-wc-mini-cart-block.top-left .blockons-wc-mini-cart-dropdown {
	right: 0;
	bottom: calc(100% + 2px);
}
.blockons-wc-mini-cart-block.top-center .blockons-wc-mini-cart-dropdown {
	right: calc(50% - 150px);
	bottom: calc(100% + 2px);
}
.blockons-wc-mini-cart-block.top-right .blockons-wc-mini-cart-dropdown {
	left: 0;
	bottom: calc(100% + 2px);
}
.blockons-wc-mini-cart-block.left-top .blockons-wc-mini-cart-dropdown {
	right: calc(100% + 2px);
	bottom: 0;
}
.blockons-wc-mini-cart-block.left-bottom .blockons-wc-mini-cart-dropdown {
	right: calc(100% + 2px);
	top: 0;
}
.blockons-wc-mini-cart-block.right-top .blockons-wc-mini-cart-dropdown {
	left: calc(100% + 2px);
	bottom: 0;
}
.blockons-wc-mini-cart-block.right-bottom .blockons-wc-mini-cart-dropdown {
	left: calc(100% + 2px);
	top: 0;
}

.blockons-wc-mini-cart-block:hover .blockons-wc-mini-cart-dropdown {
	visibility: visible;
	opacity: 1;
}

.blockons-wc-mini-cart-block.noicon span.icon,
.blockons-wc-mini-cart-block.noitems span.count,
.blockons-wc-mini-cart-block.noamount span.amount {
	display: none !important;
}
.blockons-wc-mini-cart-block.switch span.icon {
	order: 3;
	margin: 0 0 0 10px;
}
.blockons-wc-mini-cart-block.switch span.count {
	order: 1;
}
.blockons-wc-mini-cart-block.switch span.amount {
	order: 2;
	margin: 0 0 0 6px;
}
.blockons-wc-mini-cart-block.noitems.noamount span.icon {
	margin: 0;
}

/* -- Mini Cart Styling -- */
.blockons-wc-mini-cart-inner {
	width: 300px;
}
.blockons-wc-mini-cart-block .blockons-mini-crt {
	width: 100%;
	font-size: 14px;
}
.blockons-wc-mini-cart-block
	.blockons-mini-crt
	ul.woocommerce-mini-cart.cart_list {
	margin: 0;
	padding: 0;
}
.blockons-wc-mini-cart-block
	.blockons-mini-crt
	ul.woocommerce-mini-cart.cart_list
	li.woocommerce-mini-cart-item {
	box-shadow: 0 1px 0 rgb(0 0 0 / 7%);
	margin: 0;
	padding: 10px 20% 10px 10%;
	list-style-type: none;
	position: relative;
}
.blockons-wc-mini-cart-block
	.blockons-mini-crt
	ul.woocommerce-mini-cart.cart_list
	li.woocommerce-mini-cart-item
	a {
	display: block;
	text-decoration: none;
	font-size: 14px;
	color: inherit;
	font-weight: 600;
	letter-spacing: 0.3px;
	margin: 0 0 2px;
}
.blockons-wc-mini-cart-block
	.blockons-mini-crt
	ul.woocommerce-mini-cart.cart_list
	li.woocommerce-mini-cart-item
	a.remove {
	padding: 2px;
	width: 10%;
	height: 25px;
	position: absolute;
	top: 50%;
	left: 0;
	right: auto;
	margin: -10px 0 0;
	font-size: 16px;
	font-weight: 700;
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #cecece !important;
}
.blockons-wc-mini-cart-block
	.blockons-mini-crt
	ul.woocommerce-mini-cart.cart_list
	li.woocommerce-mini-cart-item
	a.remove:hover {
	background: none !important;
	color: #de0404 !important;
}
.blockons-wc-mini-cart-block
	.blockons-mini-crt
	ul.woocommerce-mini-cart.cart_list
	li.woocommerce-mini-cart-item
	img {
	margin: 0;
	box-shadow: 0 1px 3px rgb(0 0 0 / 18%), 0 0 0 1px rgb(0 0 0 / 12%);
	position: absolute;
	top: 10%;
	left: auto;
	right: 6px;
	width: auto;
	max-height: 80%;
}
.blockons-wc-mini-cart-block
	.blockons-mini-crt
	ul.woocommerce-mini-cart.cart_list
	li.woocommerce-mini-cart-item
	span.quantity {
	display: block;
	font-size: 13px;
	opacity: 0.75;
}
.blockons-wc-mini-cart-block .woocommerce-mini-cart__total {
	text-align: center;
	font-size: 14px;
	margin: 0;
	padding: 15px 15px 0;
}
.blockons-wc-mini-cart-block .woocommerce-mini-cart__buttons {
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	margin: 0;
	padding: 12px 15px 18px;
}
.blockons-wc-mini-cart-block .woocommerce-mini-cart__buttons a.button {
	display: block;
	flex: 1;
	margin: 0 2%;
	max-width: 40%;
	padding: 5px 5px 7px;
	text-decoration: none;
	font-size: 13px;
	font-weight: 400;
	text-align: center;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 3px;
	box-shadow: 0 1px 6px rgb(0 0 0 / 8%), inset 0 1px 0 rgb(255 255 255 / 60%);
	cursor: pointer;
	transition: all 0.2s linear 0s;
}
.blockons-wc-mini-cart-dropdown.btns-dark
	.woocommerce-mini-cart__buttons
	a.button {
	background-color: #777;
	color: #fff;
}
.blockons-wc-mini-cart-dropdown.btns-light
	.blockons-mini-crt
	ul.woocommerce-mini-cart.cart_list
	li.woocommerce-mini-cart-item {
	box-shadow: 0 1px 0 rgb(255 255 255 / 7%);
}
.blockons-wc-mini-cart-dropdown.btns-light
	.woocommerce-mini-cart__buttons
	a.button {
	background-color: #e9e9e9;
	color: #222;
}
.blockons-wc-mini-cart-block .woocommerce-mini-cart__buttons a.button:hover {
	opacity: 0.8;
}
.blockons-wc-mini-cart-block .blockUI.blockOverlay {
	background-color: rgba(0, 0, 0, 0.12) !important;
}
.blockons-wc-mini-cart-block .woocommerce-mini-cart__empty-message {
	text-align: center;
	padding: 15px 10px;
}

/* -- Alignment -- */
.align-center {
	justify-content: center;
}
.align-right {
	justify-content: flex-end;
}

/* -- Hide the WC mini cart elements -- */
.blockons-hidden {
	display: none !important;
}

/* -- PREMIUM Side Cart -- */
.blockons-side-cart-icon {
	background-color: #fff;
	box-shadow: inset 0 0 0 1px rgb(0 0 0 / 20%), 0 1px 4px rgb(0 0 0 / 20%);
	border-radius: 50px;
	position: fixed;
	bottom: 10px;
	right: 10px;
	font-size: 24px;
	width: 60px;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	z-index: 999;
	transition: right 0.3s ease-in-out 0.05s;
}

.blockons-side-cart-overlay {
	background-color: #000;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0.6;
	z-index: 998;
	display: none;
}
.blockons-side-cart-block {
	background-color: #fff;
	box-shadow: 0 0 8px rgb(0 0 0 / 45%);
	display: flex;
	align-items: stretch;
	position: fixed;
	top: 0;
	right: -340px;
	bottom: 0;
	width: 340px;
	z-index: 999;
	transition: right 0.3s ease-in-out 0.05s;
}
body.admin-bar .blockons-side-cart-block {
	top: 32px;
}
body.blockons-show-sidecart .blockons-side-cart-overlay {
	display: block;
}
body.blockons-show-sidecart .blockons-side-cart-icon {
	right: 350px;
}
body.blockons-show-sidecart .blockons-side-cart-block {
	right: 0;
}

.blockons-side-cart-block-inner {
	flex: 1;
	display: flex;
	flex-direction: column;
}
.blockons-side-cart-header {
	background-color: #f5f5f5;
	box-shadow: inset 0 -1px rgb(0 0 0 / 7%), 0 0 3px rgb(0 0 0 / 8%);
	height: 80px;
	position: relative;
	z-index: 2;
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	font-size: 13px;
}
.blockons-side-cart-content {
	flex: 1;
	display: flex;
	flex-direction: column;
	height: calc(100% - 80px);
}
.blockons-side-cart-content .blockons-mini-crt,
.blockons-side-cart-content .blockons-mini-crt .widget_shopping_cart_content {
	flex: 1;
	display: flex;
	flex-direction: column;
	height: 100%;
}
/* - Overrides - */
.blockons-side-cart-content
	.blockons-mini-crt
	ul.woocommerce-mini-cart.cart_list {
	height: calc(100% - 104px);
	overflow-y: scroll;
}
.blockons-side-cart-content
	.blockons-mini-crt
	ul.woocommerce-mini-cart.cart_list
	li.woocommerce-mini-cart-item {
	padding: 9% 37px 9% 106px;
	min-height: 110px;
}
.blockons-side-cart-content .woocommerce-mini-cart__total {
	background-color: #f5f5f5;
	box-shadow: inset 0 1px rgb(0 0 0 / 7%), 0 -4px 3px rgb(0 0 0 / 8%);
	padding: 15px 0 4px;
	font-size: 16px;
}
.blockons-side-cart-content .woocommerce-mini-cart__buttons {
	background-color: #f5f5f5;
	padding: 12px 0 18px;
}
.blockons-side-cart-content
	.blockons-mini-crt
	ul.woocommerce-mini-cart.cart_list
	li.woocommerce-mini-cart-item
	img {
	left: 9px;
	right: auto;
	width: 88px;
	height: auto;
	max-height: none;
}
.blockons-side-cart-content
	.blockons-mini-crt
	ul.woocommerce-mini-cart.cart_list
	li.woocommerce-mini-cart-item
	a {
	font-size: 16px;
	margin: 0 0 5px;
}
.blockons-side-cart-content
	.blockons-mini-crt
	ul.woocommerce-mini-cart.cart_list
	li.woocommerce-mini-cart-item
	a.remove {
	left: auto;
	right: 0;
	font-family: "Font Awesome 6 Free";
	font-weight: 900;
	font-size: 0;
}
.blockons-side-cart-content
	.blockons-mini-crt
	ul.woocommerce-mini-cart.cart_list
	li.woocommerce-mini-cart-item
	a.remove::before {
	content: "\f2ed";
	font-size: 15px;
}

@media only screen and (max-width: 782px) {
	body.admin-bar .blockons-side-cart-block {
		top: 46px;
	}
}
