/**
 * Note that these styles are loaded *after* common styles, so that
 * editor-specific styles using the same selectors will take precedence.
 */
.blockons-wc-account-icon-dropdown
	.blockons-wc-account-icon-item
	div.rich-text {
	display: block;
	text-decoration: none;
	font-size: 14px;
	min-width: 160px !important;
	padding: 6px 10px;
	color: inherit;
	white-space: nowrap !important;
}

/* -- To show the dropdown within the editor -- */
.blockons-wc-account-icon-block.show .blockons-wc-account-icon-dropdown {
	visibility: visible;
	opacity: 1;
}
